<div class="plus" title="Klicken, um die Zutat von der Suche auszuschließen">+</div>
<div class="minus" title="Klicken, um die Zutat zur Suche hinzuzufügen">-</div>
<div class="ingredient"><%= name %></div>
<div class="close"></div>