.ui-autocomplete, .ui-autocomplete .ui-menu-item, .ui-autocomplete .ui-menu-item a {
  background:none;
}

.ui-corner-all{
	border-radius: 0px;
}

.ui-autocomplete { 
	position: absolute; 
	cursor: pointer;
	background-color: #ffffff;
	z-index: 100 !important;
	


	&.ui-menu {
		list-style:none;
		margin: -15px -5px 0 -15px;
		display:block;
		float: left;
		border: 1pt solid #5a5a5a;
		border-top: 0;
		font:  9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		padding: 2px 0;

		
		.ui-menu {
			margin-top: -3px;
		}
		
		.ui-menu-item {
			margin:0;
			padding: 0;
			float: left;
			clear: left;
			width: 100%;
			
			a {
				text-decoration:none;
				display:block;
				padding:0 .4em;
				line-height:1.5;
				zoom:1;
				color:$smalllightfontcolor;
				
				
				&.ui-state-hover,
				&.ui-state-focus,
				&.ui-state-active {
					font-weight: normal;
					color:red;
				}
			}
		}
	}
	
	&.search-autocomplete{
		width:368px !important;
		background-color: #ffffff;
		z-index: 20 !important;
		
		
		.ui-menu-item a.ui-state-hover,
		.ui-menu-item a.ui-state-active,
		.ui-menu-item a.ui-state-focus{
			background-color: #f7f4f1;
			border: 0px;
	  		margin: 0px;
		}
	}
	
	&.ingredient-autocomplete{
		$width: 226px;
		width:$width !important;
		background-color: $stepcolor;
		border: 1px solid $kategorieborder;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		//border-top: 0;
		color:$smalllightfontcolor;
		@include box-shadow(0, 2px, 2px, rgba(0,0,0,0.3));
		
		
		&.ui-menu{
			padding: 0 2px;
			$width:$width - 4;
			width:$width;
			
			.ui-menu-item{
				//width: $width - 4;
				a{
					padding:2px 4px;
					color:$smalllightfontcolor;
					font:  10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
				}
			}
			
			.ui-menu-item+.ui-menu-item{
					border-top: 1px solid $lightgrey;
			}
		}
		
		.ui-menu-item a.ui-state-hover,
		.ui-menu-item a.ui-state-active,
		.ui-menu-item a.ui-state-focus {
			background-color: $background;
			@include box-shadow2-spread(-1px, 0, 0, 0, $background, 1px, 0px, 0, 0, $background);
			color: $darkgrey;
			border: 0px;
	  		margin: 0px;
		}
		
	}
	
	&.newtag-autocomplete{
		$width: 164px;
		width:$width !important;
		background-color: $stepcolor;
		border: 1px solid $kategorieborder;
		border-radius: 5px;
		color:$smalllightfontcolor;
		@include box-shadow(0, 2px, 2px, rgba(0,0,0,0.3));
		
		&.ui-menu{
			padding: 0 2px;
			$width:$width - 4;
			width:$width;
			
			.ui-menu-item{
				//width: $width - 4;
				a{
					padding:2px 4px;
					color:$smalllightfontcolor;
					font:  10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
				}
			}
			
			.ui-menu-item+.ui-menu-item{
					border-top: 1px solid $lightgrey;
			}
		}
		
		.ui-menu-item a.ui-state-hover,
		.ui-menu-item a.ui-state-active,
		.ui-menu-item a.ui-state-focus {
			background-color: $background;
			@include box-shadow2-spread(-2px, 0, 0, 0, $background, 2px, 0px, 0, 0, $background);
			color:$darkgrey;
			border-radius: 5px;
			border: 0px;
	  		margin: 0px;
		}
		
	}
	
	&.recipient-autocomplete{
	  	$width: 164px;
	    min-width:$width !important;
	    background-color: $stepcolor;
	    border: 1px solid $kategorieborder;
	    border-radius: 5px;
	    color:$smalllightfontcolor;
	    @include box-shadow(0, 2px, 2px, rgba(0,0,0,0.3));
    
    &.ui-menu{
      padding: 0 2px;
      $width:$width - 4;
      width:auto !important;
      
      .ui-menu-item{
        //width: $width - 4;
        a{
          padding:2px 8px;
          color:$smalllightfontcolor;
          font:  10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }
      }
      
      .ui-menu-item+.ui-menu-item{
          border-top: 1px solid $lightgrey;
      }
    }
    
    .ui-menu-item a.ui-state-hover,
    .ui-menu-item a.ui-state-active,
    .ui-menu-item a.ui-state-focus {
      background-color: $background;
      @include box-shadow2-spread(-2px, 0, 0, 0, $background, 2px, 0px, 0, 0, $background);
      color:$darkgrey;
      border: 0px;
	  margin: 0px;
    }
    
	  
	}
	
	.autocomplete-h1{
		font-weight:normal !important;
		float: left;
		position: relative;
		font-size: 13px;
		color: #9b9b9a;
		margin-left: 3px;
	}
	
	.autocomplete-p{
		font-weight:normal !important;
		margin-left: 100px;
		font-size: 13px;
		color: #5a5a5a;
	}

	&.ui-widget-content{
		background-image: none;
	}
}