<li class="new_ingredient_line">
	<div class="ingredient_dragdrop"></div>
	<input type="text" class="new_ingredient" value="<%= name %>">
	<input type="text" class="new_ingredient_menge" value="<%= amount %>">
	<div class="remove_new_ingredient_line"><span></span></div>
</li>
