<li class="new_ingredient_step ingredient_step">
	<div class="new_step step">
		<div class="left"></div>
		<div class="mid">
			<div class="number_container">
				<div class="step_dragdrop"></div>
				<div class="number"><%= number %></div>
				<div class="step_dragdrop"></div>
			</div>
			<textarea maxlength="260" class="light"><%= text %></textarea>
		</div>
		<div class="right"></div>
	</div>
	<div class="ingredients new_ingredients">
		<h4 class="zutaten_headline">Zutatenname</h4>
		<h4 class="menge_headline">Menge</h4>
		<ul class="new_ingredient_list">
			
		</ul>
		<div class="add_new_ingredient_line">
			<span></span>
		</div>
	</div>
	<div class="remove_new_step">
		<span></span>
	</div>
</li>