<span>Zutaten für </span>
<div class="numberinput">
	<input id="newRecipePersonsNumber" type="text" id="new" placeholder="0" size="2" maxlength="2" value="<%= numPersons %>">
	<div class="up"></div>
	<div class="down"></div>
</div>
<span> Personen</span>
<span id="numberinput_error" class="error">Bitte Personenzahl angeben</span>