#about_us{
.row{
	float: left;
	width: 96%;
	margin: 5px 0 10px 0;
	padding-left: 18px;	
	
	.left, .right, #weimarmap, #anycookdata{
		width: 280px;
	}
	
	.left{
		float: left;
		margin-bottom: 22px;
	}
	
	.right{
		float: right;
		margin-right: 15px;
	}
	
	#weimarmap, #anycookdata{
		height: 250px;
	}
	
	
	.column{
		h2{
			padding: 10px 0;
		}
		
	
	}
	
	#weimarmap{
		float: right;
		position: relative;
		margin: 15px 5px 0 0;
		-moz-transform:rotate(3deg);
		-webkit-transform:rotate(3deg);
		-o-transform:rotate(3deg);
		transform:rotate(3deg);
		
		.googlemap, .mapoverlay{
			position: absolute;
		}
		
		.mapoverlay{
			left: -15px;
			top: -16px;
		}
		
	}
	
	#anycookdata{
		float: left;
		margin-top: 5px;
		height: 250px;
		$datawidth: 290px;
		width: $datawidth;
		background-color: #fbf7f4;
		background-image: url("/img/papernoise.png");
		border: 1px solid #ebebeb;
		@include box-shadow(0, 1px, 2px, rgba(0,0,0,0.6));
		
		#data_top{
			width:100%;
			height: 19px;
			background-image: url("/img/data_top.png");			
		}
		
		#data_header{
			width: 100%;
			height: 34px;
			
			.header_stripes{
				float: left;
				height: 2px;
				width: 108px;
				margin: 11px 11px;
				border-top: 1px solid #4b4b4b;
				border-bottom: 1px solid #4b4b4b;
			}
			
			.black_logo + .header_stripes{
				float: right;	
			}
			
			.black_logo{
				float: left;
				width: 30px;
				height: 30px;
				background: url("/img/littleblacklogo.png") no-repeat;
			}
			
		}
		
		table{
			width:100%;
			font:  16pt Georgia;
			color: $darkfontcolor;
			margin-top: -2px;
			
			td{
				padding: 1px 12px;
			}
			
			td + td{
				float: right;
			}
		}
		
		#online_since{
			width: $datawidth - 20px;
			height: 40px;
			border-top:1px solid $lightgrey;
			margin-top: 10px;
			padding: 15px 12px;
			text-align: center;
			color: $darkfontcolor;
			
			.years{
				display: none;
			}
		}
	}
}
	
	#team{
		float: left;
		width: 100%;
		padding: 30px 0 0 18px;
		
		h1{
      width: 100%;
      border-top: 1px solid #dad9d7;
      border-bottom: 1px solid #dad9d7;
      text-align: center;
      padding: 13px 0 17px;
      margin: 0 0 40px 0;
    }
		
		h2{
			margin: 20px 0 20px 0;
		}
		
		li{
		  float: left;
      width: 100%;
      margin: 0 0 40px 0;
      list-style-type: none;
		  
  		p{ //sind hier nur die bilder!
  		  float: left;
  		  
  		  img{
  		    width: 180px;
  		    border: 8px solid #ece9e3;
          outline: 1px solid #dad9d7;
  		  }
  		}
  		
  		blockquote{ // Ist der Block mit Name und Text
  		  float: left;
  		  width: 400px;
  		  margin: 0 25px;
  		  
  		  h2{
  		    margin: 0 0;
  		  }
  		  
  		  em{
  		    display: block;
          width: 100%;
          height: 10px;
          font-size: 10pt;
         }
  		  
  		}
  		
  		.profile_container{
  				margin-bottom: 10px;
  		}
    }
		
	}	
	
	
	
}
