#recipe_container.edit{
	$background-color: rgba(0,0,0, .08);
	//@background: @discussionyellow;
	
	#step_container{
		width:$stepwidth;
	}
	
	#recipe_info, #step_container{
		cursor: pointer;
		@include transition(background-color, .2s, ease-out);
		
		&:hover{
			background-color: $background-color;
			@include transition(background-color, .3s, ease-in);
		}
	}
}
