#discussion_headline{
	font:  23pt Georgia;
	color: #404040;
	text-align: left;
	margin-top: 2px;
	margin-bottom: 2px;
}

#comment_discussion{
	float: left;
	width: 100%;
	background: url("../img/navi_bottomline.png") repeat-x;
	background-position: 0 -25px;
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	overflow: hidden;
}

#comment_discussion li{
	float: left;
	list-style-type: none;
	width: 100%;
	margin: 10px 0 0 0;
}

#comment_discussion li img{
	float: left;
}

.comment_arrow, .comment_arrow_small{
	float: left;
	width: 20px;
	height: 50px;
    background: url("../img/comment_arrow_left.png") no-repeat;
	background-position:5px 10px;
}

.comment_arrow_small{
	background-position:5px 8px;
}

#comment_discussion li.odd img{
	float: right;
	margin-right: 10px;
}

#comment_discussion li.odd li img{
	float: left;
	margin: 0;
}

#comment_discussion li.odd li.odd img{
	float: right;
	margin: 0;
}

li.odd .comment_arrow, li li.odd .comment_arrow_small{
	float: right;
	width: 20px;
	height: 50px;
    background: url("../img/comment_arrow_right.png") no-repeat;
	background-position:0px 10px;
}

.recipe_comment, .recipe_comment_small{
	font:  9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #ece9e3;
	color: #404040;
	float: left;
	padding: 7px 11px 2px 11px;
}

.recipe_comment{
	width: 482px;
}

.recipe_comment_small{
	width: 429px;
}

#comment_discussion li ul{
	margin: 0 71px;
}

#comment_discussion li.odd .recipe_comment{
	float: right;
}


.comment_headline{
	float:left;
}

.comment_headline a{
	color: #859f5e;
	text-decoration: none;
}

.comment_headline a:HOVER{
	text-decoration: underline;
}

.comment_number{
	float:right;
	color: #b5b5b5;
}

.comment_text{
	border-top: 1pt solid #c8c8c8;
	margin: 20px 0 0 0;
	padding: 3px 0 0 0;
	width: 100%;
}

.comment_footer{
	height: 17px;
	width: 100%;
}

.answer_btn{
	color: #c7c7c7;
	float: right;
	cursor: pointer;
}

.answer_btn:hover{
	color: #b5b5b5;
}

#discussion_footer{
	float: left;
	/*margin: 10px 0 0 0;*/
	width: 100%;
}

#yes_comment{
	font:  14pt Georgia;
	font-style: italic;
	color: #404040;
	text-align: left;
	margin: 12px 0 8px 0;
}

#discussion_footer img{
	float: left;
}

#discussion_footer .recipe_comment{
	padding: 10px 10px;
	height: 82px;
}

#discussion_footer textarea{
	width: 478px;
	height: 77px;
	outline: none; /*Remove Chrome and Safari glows on focus*/
	resize: none;
}

#no_comment{ /*wenn man nicht eingeloggt bei discussion footer*/
	font:  9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	/*font-style: italic;*/
	color: #859F5E;
	text-align: center;
	cursor: pointer;
	margin-top: 5px;
}

#no_comment:hover{
	text-decoration: underline;
}

.discussion_info{/*sonderpost admins/moderatoren */
	width: 492px;
	font:  9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #ffffff;
	color: #878787;
	float: left;
	margin: 0 71px;
	padding: 7px 11px 7px 11px;
	border: 1px solid #d4d4d4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.no_discussion{
	font:  9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #878787;
	text-align: left;
	margin: 0 0 6px 0;
	
}

