@CHARSET "UTF-8";

#impressum{
	font:  9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #919191;
}

#impressum h1{
	font:  23pt Georgia;
	color: #404040;
}

#impressum h2{
	font:  14pt Georgia;
	color: #404040;
	margin-top: 10px;
}

#impressum p{
	padding:5px 0 10px 0;
	
}