/*-----new recipe------------*/
#nr_general_btn {
	margin-left: 49px;
}

.nr_dots {
	margin: 14px 8px 0px 8px;
	float: left;
	background: url("/img/dot.png") repeat-x;
	height: 3px;
	width: 18px;
}

/*-------Rezept erstellen -Danielp ist good for me-------*/
#new_recipe_container{
	width:655px;
	height:550px;
	position:relative;
	overflow:hidden;
}

.new_recipe_steps {
	height: 550px;
	width:655px;	
	position: absolute;
	top:0px;
	overflow: auto;
}

#new_recipe_step1,#new_recipe_step2,#new_recipe_step3,#new_recipe_step4
	{
	font: 14pt Georgia;
	font-style: italic;
	color: #5a5a5a;
	float:left;
}

#new_recipe_step1{
	left: 0px;
}

#new_recipe_step2{
	left: 655px;
}

#new_recipe_step3{
	left: 1310px;
}

#new_recipe_step4{
	left:1965px;
}

#new_recipe_container h1{
	font: 22pt Georgia;
	letter-spacing: 0.5px;
	color: #404040;
	text-align: left;
	margin: 30px 0 10px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #b5b5b5;
}

.next_step {
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #878787;
	width: 85px;
	height: 25px;
	padding: 8px 0 0 16px;
	background: url("/img/weiter_btn.png") no-repeat;
	cursor: pointer;
}

.next_step:hover {
	color: #5a5a5a;
}

#next_step1 {
	float: right;
	margin-right: 197px;
}

#next_step2 {
	margin: -3px 182px 0 370px;
}

#next_step3 {
	margin-left: 357px;
}

#step_1_form td,#step_3_form td {
	height: 40px;
}

td.step_1_left {
	width: 140px;
}

td.step_1_right {
	width: 450px;
}

#recipe_beschreibung,.beschreibung_character {
	float: left;
}

.beschreibung_character {
	font: 14pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	color: #878787;
	margin: 5px 0 0 5px;
}

#step_1_form input,#step_1_form textarea,#step_3_form input,#step_3_form textarea,#step_4_form input,#step_4_form textarea
	{
	background-color: #ece9e3;
	border: 1px solid #979694; /*d1cec9*/
	outline: none; /*Remove Chrome and Safari glows on focus*/
	resize: none;
}

input#recipe_name {
	width: 300px;
	height: 28px;
	padding: 0 0 0 5px;
	color: #404040;
	font: 13px Helvetica, Arial, sans-serif;
}

input#recipe_name::-webkit-input-placeholder {
	color: #9b9b9a;
}

#step_1_form input.wrong,#step_1_form textarea.wrong,#step_3_form input.wrong,#step_3_form textarea.wrong,#step_4_form input.wrong,#step_4_form textarea.wrong
	{
	background-color: #fcebea;
	color: #c05c54;
	border: 1pt solid #c05c54;
	outline: none; /*Remove Chrome and Safari glows on focus*/
	resize: none;
}

/*-----Kategorie DropDown neues Rezept-----*/
.step_1_right .recipe_kategorie {
	margin-top: 5px;
	width: 190px;
}

.step_1_right .kategorie_filter {
	margin: 0;
	border: 1pt solid #979694;
}

.step_1_right #kategorie_filter_right {
	float: right;
	width: 28px;
	height: 100%;
	background: url("/img/arrow_down.png") no-repeat;
}

.step_1_right #kategorie_filter_name {
	float: left;
	width: 153px;
	height: 100%;
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #5a5a5a;
	text-align: inherit;
	padding: 5px 0 0 5px;
}

.step_1_right ul.kategorie_filter {
	width: 188px;
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: normal;
	text-align: inherit;
	padding-top: 0;
	border-top: 0;
}

.step_1_right .kategorie_filter li {
	padding-top: 2px;
	padding-bottom: 2px;
}

.step_1_right .kategorie_filter.wrong {
	background-color: #fcebea;
	border: 1pt solid #c05c54;
}

.step_1_right .kategorie_filter.wrong #kategorie_filter_right {
	background: url("/img/arrow_down_error.png") no-repeat;
}

.step_1_right .kategorie_filter.wrong #kategorie_filter_name {
	color: #c05c54;
}

.step_1_right .kategorie_filter.wrong #kategorie_filter_right {
	border-left: 1pt solid #e5dddc;
}

/*-----Kategorie DropDown Ende-----*/
#recipe_beschreibung,#beschreibung_character {
	margin-top: 7px;
	margin-bottom: 5px;
}

#einleitung_label {
	vertical-align: text-top;
	padding-top: 9px;
}

#recipe_beschreibung {
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 300px;
	height: 100px;
	color: #9b9b9a;
	padding: 3px 0 0 5px;
}

#bild_label {
	vertical-align: text-top;
	padding-top: 9px;
}

#file_uploader {
	margin-top: 5px;
}

#step_2_form {
	width: 100%;
}

#step_2_form td {
	vertical-align: top;
}

#step_2_form input,#step_2_form textarea {
	background-color: #f7f4f1;
	border: 1px solid #979694;
	outline: none; /*Remove Chrome and Safari glows on focus*/
	resize: none;
}

#step_table .step_character,#step_table  .minus_btn {
	margin-left: 8px;
}

.new_step {
	float: left;
	height: 147px;
	width: 461px;
	background: url(/img/rezept_frame_bottom.png) repeat-x;
	background-color: #ece9e3;
	background-position: 0 141px;
	margin: 3px 0 10px 0;
}

.step_textarea {
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #404040;
	width: 300px;
	height: 115px;
	margin: 9px 5px 0 0;
}

.step_character {
	font: 14pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	color: #878787;
	margin-top: 7px;
}

.plus_btn {
	float: left;
	width: 25px;
	height: 25px;
	background: url(/img/new_step_off.png) no-repeat;
	cursor: pointer;
}

.plus_btn:hover {
	background: url(/img/new_step_on.png) no-repeat;
}

#neuer_schritt {
	margin: -1px 0 0 5px;
}

.minus_btn {
	float: left;
	width: 25px;
	height: 25px;
	background: url(/img/delete_step_off.png) no-repeat;
	cursor: pointer;
}

.minus_btn:hover {
	background: url(/img/delete_step_on.png) no-repeat;
}

#step_3_form th {
	font-weight: normal;
	text-align: left;
	height: 27px;
}

#step_3_form span {
	margin-left: 2px;
}

#step_3_form input {
	height: 28px;
	padding: 0 0 0 5px;
	color: #5a5a5a;
}

.step_3_left {
	padding: 0 0 0 3px;
	width: 310px;
}

.step_3_right {
	padding: 0 0 0 15px;
	width: 110px;
}

.step_3_left input,.step_3_right input {
	width: 100%;
}

#new_zutat_step3 {
	margin: 3px 0 0 9px;
}

.step_3_delete {
	padding: 0 0 0 12px;
}

.step_3_deletebtn {
	float: left;
	width: 25px;
	height: 25px;
	background: url(/img/delete_step_off.png) no-repeat;
	cursor: pointer;
}

.step_3_deletebtn:hover {
	background: url(/img/delete_step_on.png) no-repeat;
}

.step_4_left {
	width: 300px;
	padding: 0 0 12px 0;
}

#step_4_tags,#step_4_duration,#step_4_person {
	width: 300px;
	padding: 0 0 10px 0;
}

.step_4_left div {
	float: right;
}

.step_4_left .label_stars,.step_4_left .label_chefhats,.step_4_left .label_muffins
	{
	height: 19px;
	width: 19px;
	display: table-cell;
	cursor: pointer;
	padding: 0;
}

.step_4_right {
	padding-left: 50px;
}

#table_skill,#table_kalorien {
	border: 1pt solid #f7f4f1;
}

#table_skill.wrong,#table_kalorien.wrong {
	background-color: #fcebea;
	border: 1pt solid #c05c54;
}

#recipe_tags {
	background-color: #ECE9E3;
	width: 100%;
	float: left;
	min-height: 100px;
	margin-top: 10px;
	border: 1pt #979694 solid;
}

#recipe_tags input {
	background: none;
	outline: none;
	border: 0;
	width: 100%;
}

#recipe_tags .tag {
	margin-top: 2px;
	background-color: #e0ddd7;
}

#new_durationclock {
	float: left;
	margin-top: 3px;
}

#new_durationtext {
	float: left;
	margin: 4px 0 0 2px;
}

#time_block {
	float: right;
	margin-left: 30px;
	font-style: normal;
}

.new_time {
	height: 20px;
	width: 20px;
	color: #5a5a5a;
	border: 1pt solid #f9f8f6;
	margin: 0 2px 0 -3px;
	padding: 0 0 0 3px;
}

#nr_person {
	height: 20px;
	width: 20px;
	color: #5a5a5a;
	border: 1pt solid #f9f8f6;
	padding: 0 0 0 3px;
}

#step_4_person span {
	float: right;
}

#end_newrecipe {
	width: 100%;
}