@media print{
	/*@page land{
		size:landscape;
	}*/
	
	@page{
		/*size:29cm 29cm;*/
		
		/*-webkit-transform: rotate(-90deg); -moz-transform:rotate(-90deg);
     	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
	}
	
	input{
		border: 0 !important;
		background: none !important;
		font: 13pt "Times New Roman" !important;
		border: 0 !important;
		height:100%;
	}
	
	#tags_table, #filter_head, #filter_head_top, #content_header #userfilter, #filter_devider,
	#buchmitte, #filter_bottom, #header_main, #recipe_general_btn, #recipe_discussion_btn, #rezept_begin, 
	#rezept_footer, #kategorie_filter_name, #rezept_info, #header_container, #searchbar, #searchform, #header, #right,
	#content_header, #uhr, .step_right, .kategorie_filter, #rezept_bild,
	#filter_table tr+tr, #recipe_icons{
		display: none !important;
	}
	
	
	#filter_container{
		float:right;
		margin: 2.5cm 0 0 0;
		height:inherit;
	}
	
	#filter_box{
		float:right;
		width:7cm;
		margin:0;
		padding:0;
	}
	
	#filter_main_box{
		margin:0;
	}
	
	#person_number{
		border:none;
	}
	
	#zutat_head{
		float:left;
		margin: 0.5cm 0 0.2cm 0 !important;
	}
	
	#filter_table{
		float:right;
	}
	
	.filter_table_left{
		width:3cm;
	}
	
	.filter_table_right{
		font: 13pt "Times New Roman";
	}
	
	#container{
		position:inherit;
		float: left;
		width:inherit;
		left: inherit;
		margin-top:0;
		margin-left:0;
	}
	
	#rezept_headline{
		margin:0 10cm 0 0;
		width:10cm;
		margin-bottom: 1cm;
	}
	
	
	
	#content{
		float:left;
		margin: 0;
		position:inherit;
		left:inherit;
		width:10cm;
		float:inherit;

	}
	
	#content_main{
		width:10cm;
		margin:0;
		padding:0;
		float:left;
	}
	
	#zutaten_table{
		display:table;
		min-height: inherit;
		padding: 0;
		margin:0;
		float:left;
	}
	
	.zutaten_table_left{
		padding:0;
		margin:0;
	}
	
	.zutaten_table_right{
		padding:0 6px 0 3px;
		margin:0;
	}
	
	#bezeichner_container{
		float:left;
		width:10cm;
	}
	
	#step_container{
		width:10cm;
		float:left;
		position:absolute;
		overflow:visible;
	}
	
	/*.step *{
		padding: inherit;
		margin: 0;
		height:inherit;
		min-height:3cm;
	} */
	
	.step_left{
		width:10cm;
		float:left;
		padding:inherit;
		margin:0;
		height:inherit;
		background: none;
	}
	
	.step_number{
		width:1cm;
		line-height:inherit;
		font: 16pt Georgia;
		float:left;
		margin:0;
		padding: inherit;
		height:inherit;
		border-right:none;
		text-align: left;
	}
	
	.step_text{
		width:8.3cm;
		float:none;
		padding: inherit;
		margin: 0 0 0 1.2cm;
		margin-top:0 !important;
		height:inherit;
		text-align: justify;
		font: 10pt Helvetica, sans-serif;
	}
	
	.step{
		width:10cm;
		height: inherit;
		/*display:list-item;*/
	}
	
}

