/*beschreibung  */
#submit_beschreibung_edit_form, #undo_beschreibung_edit_form{
	font-weight: bold;
	cursor: pointer;
	float:left;
	
}

#submit_beschreibung_edit_form:hover, #undo_beschreibung_edit_form:hover{
	text-decoration: underline;
}

#beschreibung_edit_counter{
	float:right;
}

#undo_beschreibung_edit_form, #beschreibung_edit_counter{
	margin-left: 10px;
}

.edit_removeZutat div{
	width: 15px;
	height: 15px;
	background: url(/img/delete_step_off_small.png) no-repeat;
	cursor: pointer;
}

.edit_removeZutat div:hover {
	background: url(/img/delete_step_on_small.png) no-repeat;
}

#edit_addZutatRow div{
	width: 15px;
	height: 15px;
	background: url(/img/new_step_off_small.png) no-repeat;
	cursor: pointer;
}

#edit_addZutatRow div:hover {
	background: url(/img/new_step_on_small.png) no-repeat;
}

#edit_rezept_bild{
	position: absolute;
	padding:3px;
	margin:4px 0 0 6px;
	background-color:#d7d3c7;
	border:1px solid #F7F4F1;
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#919191;
	cursor:pointer;
	display: none;
}

.step form{
	float:left;
	width:120px;
}
.edit_step{
	width:356px;
	height:120px;
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #404040;
	outline: none; /*Remove Chrome and Safari glows on focus*/
	resize: none;
}

.step_submit, .step_undo{
 	font-weight: bold;
	cursor: pointer;
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#919191;
	width:50px;
}

.step_submit:hover, .step_undo:hover{
	color:#919191;
	text-decoration: underline;
}
 
.step_submit{
	float:left;
}

.step_undo{
	margin:0 0 0 60px;
}

