#settings_container{
	padding-top:10px;
}

#settings_container h1{
	float:left;
	font:  23pt Georgia;
	color: #404040;
	margin-right:10px;
	margin-bottom:20px;
}

#settings_account h2, #settings_facebook h2, #settings_notification h2{
	float:left;
	font:  16pt Georgia;
	color: #404040;
	width:605px;
	margin: 0 0 10px 0;
	padding: 0 40px 5px 10px;
	border-bottom: 1px solid #D7D3C7;
	cursor: pointer;
}

#settings_saved{
	display: none;
	float: right;
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#859F5E;
	}

#settings_notification_content{
	display: none;
	clear: both;
	padding:10px;
	/*font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	font: 8pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
	color: #404040;
}

#settings_notification_content table{
	width:400px;
	border: 0;
	border-spacing:0;
}

#settings_notification_content table tr{
	height:30px;
	background-color: #ECE9E3;
}

#settings_notification_content table tr:nth-child(odd){
	background-color: #ECE9E3;
}

#settings_notification_content table tr:nth-child(even){
	background-color: #F9F8F6;
}

#settings_notification_content table td:nth-child(even){
	width:30px;
}

#settings_notification_content table td:nth-child(odd){
	padding-left:10px;
}

