#settings_container{
	padding-top:10px;
}

#settings_container h1{
	float:left;
	font:  23pt Georgia;
	color: #404040;
	margin-right:10px;
	margin-bottom:20px;
}

#settings_container h2{
	float:left;
	font:  16pt Georgia;
	color: #404040;
	width:605px;
	margin: 0 0 10px 0;
	padding: 0 40px 5px 10px;
	border-bottom: 1px solid #D7D3C7;
	cursor: pointer;
}

.settings{
	float:left;
}

.settings_content{
	display:none;
	float:left;
	width:100%;
	margin: 0 10px 20px 10px;
}

.settings_content p{
	margin-bottom:5px;
	width: 300px;
}

#settings_account .settings_content{
	display:block;
}

.settings_saved{
	display: none;
	margin-top:5px;
	float: right;
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#859F5E;
}

#settings_notification_content{
	display: none;
	clear: both;
	/*font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	font: 8pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
	color: #404040;
}

#settings_notification_content table{
	width:400px;
	border: 0;
	border-spacing:0;
}

#settings_notification_content table tr{
	height:30px;
	background-color: #ECE9E3;
}

#settings_notification_content table tr:nth-child(odd){
	background-color: #ECE9E3;
}

#settings_notification_content table tr:nth-child(even){
	background-color: #F9F8F6;
}

#settings_notification_content table td:nth-child(even){
	width:30px;
}

#settings_notification_content table td:nth-child(odd){
	padding-left:10px;
}

/* account settings */

#account_image{
	float:left;
	margin: 0 10px 20px 0;
	border: 1px solid #D7D3C7;
}

#account_image img{
	max-width:200px;
	border:3pt solid #F9F8F6;
}

#account_data{
	float:left;
	font:  12pt Georgia;
	color: #404040;
	margin-left:5px;
}

#account_data h3{
	font:  12pt Georgia;
	color: #404040;
	margin: 0 0 4px 2px;
	padding-top:6px;
	height:18px;
}

#account_data li{
	margin-bottom:8px;
	list-style: none;
}

#no_facebook{
	display:none;
	margin-top:15px;
}

#settings_container input[type="text"]{
	width:260px;
}

#settings_container input[type="text"]#account_name{
	font:  18pt Georgia;
	height:29px;
}

#settings_container textarea{
	font:  10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #404040;
	padding:2px;
	background-color:#F9F8F6;
	border: 1px solid #D7D3C7;
	border-radius:4px;
	height:103px;
	resize: none;
	width:260px;
}

#settings_container input[type="submit"]{
	width:266px;
}