@charset "UTF-8";
@import "discover.css";
@import "discussion.css";
@import "fileuploader.css";
@import "jquery.autocomplete.css";
@import "profile.css";
@import "recipeediting.css";
@import "settings.css";
@import "footerpages.css";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td
{
	margin: 0;
	padding: 0;
}

body {
	background-color: #f7f4f1;
	overflow-y: scroll; /*scrollbalken wird immer angezeigt*/
}

a img {
	border: 0;
}

.greenlink {
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #859F5E;
}

.greenlink:HOVER {
	text-decoration: underline;
}

/*----------Header----------*/
#header_container {
	position: fixed;
	height: 100px;
	width: 100%;
	background: url("/img/headercontainer2_bg.png") repeat-x;
	z-index: 100;
}

#header {
	height: 100px;
	width: 980px;
	margin: 0 auto;
	/*background: url("/img/headermain_bg.png") repeat-x;*/
}

#header_main {
	height: 72px;
	width: 100%;
}

#header_peak {
	height: 28px;
	width: 100%;
	background: url("/img/headerpeak_bg.png");
}

#logo {
	float: left;
	height: 50px;
	width: 127px;
	margin: 11px 0 0 57px;
	/*alte größe
	height: 29px;
	width: 233px;*/
}

#searchbar {
	float: left;
	margin: 22px 0 0 128px;
	width: 400px;
}

#loupe {
	float: left;
	width: 37px;
	height: 36px;
	background: url("/img/loupe.png") no-repeat;
}

#search {
	font: 13pt Georgia;
	color: #5a5a5a;
	float: left;
	height: 36px;
	width: 310px;
	padding: 0;
	margin: 0;
	border: 0;
	background: url("/img/searchbar_bg.png") repeat-x;
	outline: none; /*Remove Chrome and Safari glows on focus*/
}

#search_reset {
	float: left;
	width: 28px;
	height: 36px;
	background: url("/img/searchreset_off.png") no-repeat;
}

#search_reset.on {
	background: url("/img/searchreset_on.png") no-repeat;
	cursor: pointer;
}

/*----------Right-Stripes----------*/
#right_stripe {
	position: fixed;
	float: left;
	width: 10px;
	left: 50%;
	height: 100%;
	margin: 0 0 0 508px;
	background: #f2efeb;
}

#right {
	position: fixed;
	left: 50%;
	height: 100%;
	margin-top: 0;
	width: 50%;
	background: #ece9e3;
}

#right_inside {
	position: relative;
	height: 100%;
	width: 518px;
	background: #f7f4f1;
}

/*----------Container----------*/
#container {
	position: relative;
	float: left;
	width: 1016px;
	left: 50%;
	margin-top: 100px;
	margin-left: -508px;
	height: 100%;
	background-color: #f7f4f1;
}

/*----------Filterbox----------*/
#filter_container {
	float: left;
	height: 600px;
	background: url("/img/nr_statusbg.png") no-repeat;
	background-position: 125px 122px;
}

#filter_box {
	float: left;
	background: url("/img/filter_bg.png") repeat-y;
	margin: 6px 0 0 15px;
	width: 268px;
}

#filter_head {
	background: url("/img/filter_head_main.png") repeat-y;
}

#filter_head_top {
	height: 26px;
	background: url("/img/filter_head_top.png") no-repeat;
}

#filter_head_main {
	height: 25px;
	margin-top: -4px;
	padding-left: 45px;
	font: 15pt Georgia;
	font-style: italic;
	color: #9fbd70;
}

#filter_headline {
	float: left;
}

#filter_reset {
	float: right;
	height: 9px;
	width: 8px;
	padding: 5px;
	margin-right: 12px;
	margin-top: 3px;
}

#filter_reset.on {
	background: url(/img/delete_off.png) no-repeat;
	background-position: center;
	cursor: pointer;
}

#filter_reset.on:hover {
	background: url(/img/delete_filter_on.png) no-repeat;
	background-position: center;
}

#filter_head_bottom {
	height: 13px;
	background: url("/img/filter_head_bottom.png") no-repeat;
}

#filter_main {
	margin: 0 5px;
	padding-bottom: 20px;
	background-color: #f9f8f6;
}

#filter_bottom {
	height: 18px;
	background: url("/img/filter_bottom.png") no-repeat;
}

div.kategorie_filter {
	background-color: #ece9e3;
	border: 1px solid #d5d6d2;
	margin-top: 10px;
	height: 28px;
	cursor: pointer;
	/* Gecko-based, Mozilla */
	-moz-user-select: none;
	/* Safari */
	-khtml-user-select: none;
}

#kategorie_filter_left,#kategorie_filter_right {
	float: left;
	width: 28px;
	height: 100%;
	background: url("/img/arrow_down.png") no-repeat;
}

#kategorie_filter_left.off,#kategorie_filter_right.off {
	background: none;
	border: 0;
}

#kategorie_filter_left {
	border-right: 1px solid #d5d6d2;
}

#kategorie_filter_right {
	border-left: 1px solid #d5d6d2;
}

#kategorie_filter_name {
	float: left;
	width: 198px;
	height: 100%;
	font: 13pt Georgia;
	color: #5a5a5a;
	text-align: center;
	padding-top: 4px;
}

.kategorie_filter.on {
	border-color: #93948d;
}

.kategorie_filter.on #kategorie_filter_left,.kategorie_filter.on #kategorie_filter_right
	{
	background: url("/img/arrow_up.png") no-repeat;
	border-bottom: 1pt solid #93948d;
}

ul.kategorie_filter {
	position: absolute;
	width: 198px;
	margin-left: 29px;
	background-color: #ece9e3;
	border: 1pt solid #93948d;
	border-top: none;
	font: 11pt Georgia;
	text-align: left;
	color: #5a5a5a;
	list-style: none;
	letter-spacing: 0.8pt;
	line-height: 17.5pt;
	cursor: pointer;
	/* Gecko-based, Mozilla */
	-moz-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	overflow: hidden;
	z-index: 99999;
}

ul.kategorie_filter li {
	border-bottom: 1pt solid #d1cfca;
	padding-left: 7px;
}

ul.kategorie_filter li:HOVER {
	background-color: #f7f4f1;
}

#filter_main_box {
	margin: 0 14px;
	font: 13pt Georgia;
	color: #5a5a5a;
}

#filter_table {
	margin:10px 0 -10px 0;
	float: left;
	width: 100%;
	border-collapse: collapse;
}

#filter_table tr td * {
	float: left;
}

#filter_table tr {
	display: block;
	/*padding-top: 10px;*/
	height:30px;
}

.filter_table_left {
	width: 130px;
}

.filter_table_right {
	width: 100px;
}

#filter_table * input:focus {
	background-color: #ece9e3;
	border: 1pt solid #93948d;
}

/*----------Filter Dauer----------*/
#uhr {
	margin: -3px 3px 0 -3px;
}

#filter_table * input {
	float: none !important;
	font: 14pt Times New Roman;
	font-weight: 500;
	height: 20px;
	width: 24px;
	color: #5a5a5a;
	text-align: right;
	border: 1pt solid #f9f8f6;
	margin: 0;
	margin-left: -4px;
	padding: 0 0 0 3px;
	background: none;
	outline: none; /*Remove Chrome and Safari glows on focus*/
	/*-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	*/
}

#filter_table * input:focus {
	width: 25px;
	border: 0;
	border-bottom: 1pt solid #5a5a5a;
	background: none;
}

/* -------Filter Radiobuttons------- */
.label_chefhats,.label_muffins {
	display: table-cell;
	cursor: pointer;
	width:20px;
	height:20px;
	background: url(/img/labels.png) no-repeat;
}

.label_chefhats input,.label_muffins input {
	position: absolute;
	left: -9999px;
}

.label_chefhats {
}

.label_chefhats.on {
	background-position: 0 -21px;
}

.label_muffins {
	background-position: -21px 0;
}

.label_muffins.on {
	background-position: -21px -21px;
}

/*----------Filter Punkte Devider----------*/
#filter_devider {
	float: left;
	margin: 14px 0 10px 0;
	width: 100%;
	height: 4px;
	background: url("/img/dot.png") repeat-x;
}

/*----------Filter Zutaten----------*/
#zutaten_table {
	padding-top: 4px;
	min-height: 176px;
	width: 100%;
	margin: 0 0 10px 0;
	background: url(/img/zutaten_tags_bg.png) repeat;
	display: block;
	border-spacing: 0;
}

#zutaten_table tr {
	font: 11pt Georgia;
	font-style: italic;
	color: #878787;
	display: block;
	width: 100%;
	line-height: 23px;
}

.zutaten_table_left {
	text-align: left;
	padding-left: 3px;
	min-width: 150px;
	height: 100%;
}

.zutaten_table_right {
	text-align: right;
	padding: 0 3px;
	vertical-align: bottom;
	white-space: nowrap;
	width: 70px;
	height: 100%;
}

.zutaten_table_right input {
	text-align: right;
}

#zutat_input {
	background: 0;
	outline: none;
	border: 0;
	font: 11pt Georgia;
	font-style: italic;
	color: #5a5a5a;
	padding: 0;
	height: 100%;
}

.remove_zutat {
	float: right;
	width: 8px;
	height: 11px;
	background: url(/img/delete_off.png) no-repeat;
	cursor: pointer;
	padding-bottom: 6px;
}

.remove_zutat:hover {
	background: url(/img/delete_zutat_on.png) no-repeat;
}

#person_number { /*font: 13pt Georgia;*/
	color: #5A5A5A;
	color: #5A5A5A;
	height: 100%;
	outline: none;
	padding: 0px;
	text-align: right;
	background-color: #ECE9E3;
	border: 1pt solid #D5D6D2;
	height: 14pt;
	width: 16px;
}

/*---------Zutat Autocomplete ------*/
#zutat_complete {
	position: absolute;
	width: 150px;
	list-style-position: outside;
	list-style: none;
	z-index: 1000;
	background: #ece9e3;
	border: 1px solid #bababa;
	border-top: 0;
}

#zutat_complete li {
	cursor: pointer;
	width: 100%;
	line-height: 15px;
	font: menu;
	font-size: 12px;
}

#zutat_complete li.over {
	background-color: #f7f4f1;
}

/*----------Filter Tags----------*/
#tags_table {
	margin: 10px 0 10px 0;
	border-spacing: 0;
}

.tags_table_left {
	vertical-align: top;
	width: 25%;
	padding-top: 4px;
}

.tags_table_right {
	float: left;
	display: block;
	padding: 4px 0 1px 1px;
	background: url("/img/zutaten_tags_bg.png") repeat;
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: 500;
	color: #5a5a5a;
	min-height: 69px;
	width: 169px;
}

.tags_table_right input {
	float: left;
	border: 0;
	outline: none;
	width: 100%;
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background: none;
	margin: 0;
	margin-left: 2px;
}

.tag {
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	float: left;
	background: #ece9e3;
	padding: 0 4px 1px 4px;
	margin-left: 3px;
	color: #5a5a5a;
	margin-bottom: 4px;
	border: 1pt solid #b5b5b5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	line-height: 12pt;
	text-decoration: none;
}

.tag_text {
	float: left;
}

.tag_remove {
	float: left;
	color: grey;
	margin-left: 2px;
	cursor: pointer;
	color: #808080;
}

/*----------Buchmitte strich----------*/
#buchmitte {
	float: left;
	height: 525px;
	width: 1px;
	margin: 19px 0 0 7px;
	background-color: #d7d3c7;
}

/*----------Kasten mit riffeligen Rand----------*/
/*-------frame_small---------------------*/
.frame_small {
	float: left;
}

.frame_main_small {
	padding: 12px 16px;
	float: left;
	height: 111px;
	width: 284px;
	border-top: 1pt solid #b5b5b5;
	border-bottom: 1pt solid #b5b5b5;
	background: #ece9e3 url("/img/frame_left_pattern.png") repeat-y;
	text-decoration: none;
}

.frame_right {
	float: right;
	height: 135px;
	width: 6px;
	border-top: 1pt solid #b5b5b5;
	border-bottom: 1pt solid #b5b5b5;
	background: url("/img/frame_right_pattern.png") repeat-y;
}

/*----------Content----------*/
#content {
	float: left;
	width: 655px;
	min-height: 580px;
	margin: -27px 0 0 45px;
}

#content_header {
	width: 100%;
	height: 37px;
	margin: 20px 0 0 0;
	background: url("/img/navi_bottomline.png") repeat-x;
}

#content_main {
	min-height: 515px;
	width: 100%;
}

/*---------Content-Header----------*/
.big_button,.small_button {
	float: left;
	cursor: pointer;
	text-decoration: none;
}

.big_button {
	width: 114px;
	height: 31px;
	background: url(/img/big_button.png) no-repeat;
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #878787;
	padding-top: 6px;
	text-align: center;
	line-height: 17px;
}

.big_button.on {
	color: #859f5e;
	background-position: 0 -38px;
	
}

.big_button:hover {
	background-position: 0 -75px;
	color: #5a5a5a;
}

.big_button.on:hover {
	background-position: 0 -38px;
	color: #859f5e;
}

.big_button.inactive {
	background-position: 0 -112px;
	color: #d1cec9;
	cursor: default;
}

.small_button {
	width: 44px;
	height: 37px;
	background: url(/img/small_button.png) no-repeat;
}

.small_button.on {
	background-position: 0 -37px;
}

.small_button:hover {
	background-position: 0 -74px;
}

.small_button.on:hover {
	background-position: 0 -37px;
}

.small_button.inactive {
	background-position: 0 -111px;
	color: #d1cec9;
	cursor: wait;
}

#home_button {
	margin-left: 30px;
}

#home_button div {
	width: 15px;
	height: 15px;
	margin-top: 8px;
	margin-left: 14px;
	background: url(/img/icon_home.png) no-repeat;
}

#home_button.on div {
	background-position: 0 -15px;
}

#home_button:hover div {
	background-position: 0 -30px;
}

#home_button.on:hover div {
	background-position: 0 -15px;
}

#discover_button {
	margin-left: 10px;
}

/*---------Content-Main----------*/
#display {
	height: 185px;
	padding-top: 39px;
	margin-top: -10px;
	background: url(/img/startpageimg.png) no-repeat;
}

/*--<div id="headline"><p>Willkommen!</p><p>Suche nach leckeren Rezepten.</p></div>--*/
#headline {
	font: 25pt Georgia;
	letter-spacing: 0.5px;
	color: #404040;
	text-align: left;
}

#informationbox {
	width: 100%;
	height: 300px;
	border-top: 1pt solid #d7d3c7;
}

.startpage_headline_small {
	margin-top: 20px;
	font: 14pt Georgia;
	color: #404040;
	text-align: left;
	margin-bottom: 10px;
	padding-left: 15px;
}

#rezept_des_tages {
	float: left;
	height: 190px;
}

.small_rezept,.big_rezept {
	font: 8pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	cursor: pointer;
}

.small_rezept:hover {
	background: #e0eecb url("/img/frame_left_pattern_over.png") repeat-y;
}

.small_rezept:hover+.frame_right {
	background: url("/img/frame_right_pattern_over.png") repeat-y;
}

.rezept_bild {
	float: left;
	width: 108px;
	height: 108px;
	margin-right: 10px;
	border: 1px solid #D7D3C7;
}

.time_gericht {
	margin: 94px 0 0 32px;
	font: 7pt Lucida Grande;
	position: absolute;
}

.time_gericht_mid {
	float: left;
	height: 12px;
	width: 36px;
	color: #404040;
	padding: 1px 0 0 2px;
	background-color: #F9F8F6;
	text-align: center;
}

.time_corner_left {
	float: left;
	height: 10px;
	width: 5px;
	background: url("/img/timecorner_left.png") repeat-y;
}

.time_corner_right {
	float: left;
	height: 10px;
	width: 5px;
	background: url("/img/timecorner_right.png") repeat-y;
}

.small_rezept img,.big_rezept img {
	float: left;
	border: 3pt solid #F9F8F6;
}

.small_rezept h5,.big_rezept h5 {
	font: 14pt Georgia;
	color: #404040;
	margin: 2px 0 1px 0;
}

.small_rezept p,.big_rezept p {
	color: #404040;
	line-height: 15px;
}

.big_rezept p {
	margin-top: 5px;
}

/*-------NEWS-------*/
#news {
	float: right;
	height: 190px;
}

#news_inhalt {
	width: 100%;
	height: 102%;
	font: 8pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #404040;
	line-height: 20px;
	overflow: hidden;
}

#news_inhalt div {
	position: relative;
	padding: 0 3px;
	padding-bottom: 3px;
	margin: 0;
}

#news_inhalt div+div {
	padding-top: 3px; /*da border top*/
	border-top: 1pt solid #b5b5b5;
	padding-bottom: 3px;
}

#news_inhalt a {
	color: #859f5e;
	text-decoration: none;
}

#news_inhalt a:hover {
	text-decoration: underline;
}

#news_fade {
	position: relative;
	background: url("/img/news_fade.png") repeat-x scroll center bottom
		transparent;
	height: 25px;
	width: 105%;
	margin: -15px 0 0 -5px;
	z-index: 100;
	bottom: 0px;
}

/*-------NEWS-ENDE-------*/
#famous_tags {
	width:627px;
	height:90px;
	float: left;
	margin-top: 15px;
	padding: 3px 14px 11px 14px;
	text-align: inherit;
	color: #404040;
	border-top: 1pt solid #B5B5B5;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	font-style: italic;
	background: #ece9e3 url("/img/dot.png") repeat-x 0 3px;
}

#tags_label {
	position: absolute;
	width: 44px;
	height: 31px;
	margin: -8px 0 0 553px;
	background: url("/img/tags_label.png") no-repeat;
}

#famous_tags_cloud { /*float:left;*/
	margin: 18px 0 12px 0;
	height: 60px;
	overflow: hidden;
}

#famous_tags_cloud span span {
	cursor: pointer;
	white-space: nowrap;
}

#famous_tags_cloud>span {
	padding: 2px 1px;
}

#famous_tags_cloud>span:hover {
	background-color: #e0ddd7;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#famous_tags_cloud span a {
	white-space: nowrap;
	color: #404040;
	text-decoration: none;
}

/*---------Entdecken----------*/
/*.entdecken {
	height: 202px;
	margin-top: 8px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.entdecken_headline_small {
	font: 14pt Georgia;
	color: #404040;
	text-align: left;
	margin-bottom: 10px;
	padding-left: 17px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.frame_right+.frame_main_small {
	margin-left: 11px;
}

.entdecken_back,.entdecken_next {
	height: 17px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 9pt;
	color: #919191;
	margin-top: 7px;
	background-color: #f7f4f1;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.entdecken_back {
	float: left;
	margin-left: 3px;
	padding-left: 13px;
	background: url("/img/back_btn_small.png") no-repeat;
	background-position: 0 5px;
}

.entdecken_back:hover {
	color: #585858;
	background: url("/img/back_btn_small_over.png") no-repeat;
	background-position: 0 5px;
}

.entdecken_next {
	float: right;
	padding-right: 13px;
	background: url("/img/next_btn_small.png") no-repeat;
	background-position: 40px 5px;
}

.entdecken_next:hover {
	color: #585858;
	background: url("/img/next_btn_small_over.png") no-repeat;
	background-position: 40px 5px;
}

#neuste,#leckerste,#beliebte {
	
}*/

/*--suchergebnisse--*/
#first_search_layout {
	margin-right: 10px;
}

#first_search_layout div {
	height: 15px;
	margin-top: 8px;
	margin-left: 11px;
	background: url(/img/darstellung_bildtext_off.png) no-repeat;
}

#first_search_layout.on div {
	background: url(/img/darstellung_bildtext_active.png) no-repeat;
}

#first_search_layout:hover div {
	background: url(/img/darstellung_bildtext_over.png) no-repeat;
}

#first_search_layout.on:hover div {
	background: url(/img/darstellung_bildtext_active.png) no-repeat;
}

/*---*/
#second_search_layout {
	margin-right: 10px;
}

#second_search_layout div {
	height: 15px;
	margin-top: 8px;
	margin-left: 11px;
	background: url(/img/darstellung_nurbild_inactive.png) no-repeat;
}

/*----*/
#third_search_layout {
	margin-right: 10px;
}

#third_search_layout div {
	height: 15px;
	margin-top: 8px;
	margin-left: 11px;
	background: url(/img/darstellung_nurtext_inactive.png) no-repeat;
}

/*----*/
#userfilter {
	background-color: #ECE9E3;
	border: 1pt solid #D5D6D2;
	padding: 5px;
	display: none;
	margin-top: 10px;
	/*margin:5px 14px 0 14px*/;
	height: 50px;
}

#userfilterremove {
	margin: 2px 6px 0;
	background-image: url(/img/delete_off.png);
	height: 9px;
	width: 8px;
	cursor: pointer;
	float: right;
	display: none;
}

#userfilterremove:hover {
	background-image: url(/img/delete_filter_on.png);
}

#userfiltertext {
	padding: 0 2px;
	margin: 0 24px 0 55px;
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height: 16px;
	height: 50px;
}

#userfiltertext span {
	vertical-align: bottom;
}

#userfiltertext a {
	text-decoration: none;
	color: #859F5E;
}

#userfilter>div>a {
	float: left;
	text-decoration: none;
	color: #859F5E;
}

#userfilter img {
	height: 50px;
	width: 50px;
}

#userfilter a:hover {
	text-decoration: underline;
}

#result_container {
	width: 475px;
	margin: 0;
}

.frame_big {
	border-top: 1pt solid #b5b5b5;
	border-bottom: 1pt solid #b5b5b5;
	margin-top: 28px;
	text-decoration: none;
	width: 100%;
	display: block;
}

.frame_big+.frame_big {
	border-top: 0;
	margin-top: 0;
}

.frame_main_big {
	float: left;
	height: 110px;
	width: 455px;
	padding: 11px 0 11px 14px;
	color: #878787;
}

.frame_main_big:hover {
	background: #ece9e3 url("/img/frame_left_pattern.png") repeat-y;
}

#more_results {
	padding: 15px 0 15px 14px;
	border-bottom: 1pt solid #b5b5b5;
	width: 455px;
	font: 14pt Georgia;
	color: #404040;
	cursor: pointer;
}

#more_results:hover {
	background: #ece9e3 url("/img/frame_left_pattern.png") repeat-y;
}

#more_results_right {
	float: left;
	height: 53px;
	width: 6px;
	margin-left: 469px;
	border-bottom: 1pt solid #b5b5b5;
}

#more_results img {
	float: right;
}

#more_results:hover+#more_results_right {
	background: url("/img/frame_right_pattern.png") repeat-y;
}

.result_schmeckt {
	float: right;
	margin: -16px 5px 0 5px;
}

.heart_img {
	float: right;
	background: url("/icons/heart.png") no-repeat;
	width: 12px;
	height: 13px;
}

.heart_number {
	width: 100%;
	margin: 13px 3px 0 0;
	font-size: 7pt;
	line-height: 14px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	color: #b5b5b5;
}

.frame_main_big p {
	color: #878787;
	margin-right: 22px;
	height: 65px;
}

.frame_main_big:hover p {
	color: #5a5a5a;
}

.frame_right_big {
	height: 132px;
	width: 6px;
	margin-left: 469px;
}

.frame_main_big:hover+.frame_right_big {
	background: url("/img/frame_right_pattern.png") repeat-y;
}

.result_bewertung {
	float: left;
	height: 12px;
	width: 70px;
	margin-top: 3px;
}

.result_bewertung img {
	border: 0;
}

#result_end {
	background: url("/icons/heart.png") no-repeat;
}

/*---------- verwendete suchbegriffe-------- */
#search_terms {
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #404040;
	margin-left: 5px;
	height: 22px;
	width: 100%;
}

#terms_text {
	padding-top: 1px;
	float: left;
	display: none;
}

.search_term {
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	float: left;
	color: #5a5a5a;
	background: #e0eecb;
	padding: 0 4px 1px 4px;
	margin-left: 5px;
	margin-bottom: 4px;
	border: 1pt solid #b5b5b5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	line-height: 12pt;
}

.close_term {
	float: right;
	margin-left: 2px;
	color: #7a7a7a;
	cursor: pointer;
}

/*---- Anzahl Ergebnisse -------*/
#num_results {
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #404040;
	margin-left: 5px;
	height: 22px;
	width: 100%;
	margin-top: 2px;
}

/*-------Rezept------*/
.float_right_header {
	float: right;
}

#recipe_discussion_btn {
	margin: 0 10px;
}

#rezept_headline {
	font: 23pt Georgia;
	color: #404040;
	text-align: left;
	margin-top: 2px;
	margin-bottom: 7px;
}

#rezept_bild { /*grosses Bild im Rezept selbst*/
	float: left;
	width: 450px;
	background-color: grey;
	border: 3pt solid #d7d3c7;
	margin: 0 10px 0 2px;
}

#rezept_bild_container {
	float: left;
}

#beschreibung {
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #919191;
	margin-right: 4px;
}

#autoren {
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #919191;
	margin-right: 4px;
	margin-top: 10px;
}

#autoren a {
	color: #859F5E;
	text-decoration: none;
}

#autoren a:hover {
	text-decoration: underline;
}

#beschreibung textarea {
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 175px;
	height: 200px;
}

#beschreibung input {
	float: left;
}

#rezept_begin {
	float: left;
	width: 100%;
	height: 37px;
	margin: 10px 0 15px 0;
	background: url("/img/navi_bottomline.png") repeat-x;
}

.bezeichner {
	float: left;
	width: 114px;
	height: 28px;
	background: url(/img/bezeichner.png) no-repeat;
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #878787;
	padding-top: 6px;
	margin-left: 10px;
	text-align: center;
	text-decoration: none;
	line-height: 17px;
}

.bezeichner:hover {
	background-position: 0 -34px;
	color: #5A5A5A;
}

.bezeichner.on {
	background-position: 0 -68px;
	color: #859f5e;
}

#zubereitung {
	margin-left: 405px;
}

#bezeichner_container {
	float: left;
	width: 655px;
}

#addtags_container {
	float: left;
	display: none;
	height: 500px;
}

#addtags_container table {
	margin: 50px 0 50px 0;
	font: 14pt Georgia;
	font-style: italic;
	color: #5A5A5A;
}

#step_container {
	width: 510px;
	float: left;
}

.step {
	float: left;
	height: 147px;
	width: 510px;
	background: url(/img/rezept_frame_bottom.png) repeat-x;
	background-color: #ece9e3;
	background-position: 0 141px;
	margin-bottom: 15px;
}

.step_left {
	float: left;
	height: 140px;
	padding: 0px 0px 0px 10px;
	background: url(/img/rezept_frame_left.png) no-repeat;
}

.step_right {
	float: right;
	height: 100%;
	width: 8px;
	background: url(/img/rezept_frame_right.png) no-repeat;
}

.step_number {
	margin: 8px 0;
	float: left;
	height: 123px;
	width: 110px;
	font: 45pt Georgia;
	line-height: 110px;
	color: #404040;
	text-align: center;
	border-right: 1pt solid #d7d3c7;
	margin-right: 15px;
}

.step_text {
	float: left;
	width: 356px;
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #404040;
}

#rezept_footer {
	float: left;
	width: 100%;
	height: 60px;
	border-top: 1pt solid #b5b5b5;
	margin-top: 3px;
	padding-top: 5px;
}

#rezept_footer p {
	float: left;
	font: 14pt Georgia;
	color: #404040;
}

#rezept_footer span {
	float: left;
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #404040;
	text-decoration: none;
	cursor: default;
}

#rezept_schmeckt,#tag_vorschlag {
	float: left;
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #859f5e;
	text-decoration: none;
	cursor: pointer;
}

#rezept_schmeckt:hover,#tag_vorschlag:hover {
	text-decoration: underline;
}

/*social icons*/
#social {
	float: right;
	width: 90px;
	height: 20px;
	margin: 0 10px 0 0;
}

.socialicon {
	float: left;
	width: 17px;
	height: 17px;
	cursor: pointer;
}

#facebook {
	background: url(/icons/facebook_off.png) no-repeat;
}

#facebook:hover {
	background: url(/icons/facebook_on.png) no-repeat;
}

#tumblr {
	background: url(/icons/tumblr_off.png) no-repeat;
}

#tumblr:hover {
	background: url(/icons/tumblr_on.png) no-repeat;
}

#twitter {
	background: url(/icons/twitter_off.png) no-repeat;
}

#twitter:hover {
	background: url(/icons/twitter_on.png) no-repeat;
}

#mail {
	background: url(/icons/email_on.png) no-repeat;
}

/*--Discussion Rubrik--*/
/*@import url("discussion.css");*/
#discussion_headline {
	font: 23pt Georgia;
	color: #404040;
	text-align: left;
	margin-top: 2px;
	margin-bottom: 2px;
}

#comment_discussion {
	float: left;
	width: 100%;
	background: url("/img/navi_bottomline.png") repeat-x;
	background-position: 0 -25px;
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
}

#comment_discussion li {
	float: left;
	list-style-type: none;
	width: 100%;
	margin: 10px 0 0 0;
}

#comment_discussion li img {
	float: left;
	border: 0;
}

#comment_discussion li img {
	width: 50px;
	height: 50px;
}

#comment_discussion li li img {
	width: 32px;
	height: 32px;
}

.comment_arrow,.comment_arrow_small,.child_comment .comment_arrow_answer
	{
	float: left;
	width: 20px;
	height: 50px;
	background: url("/img/comment_arrow_left.png") no-repeat;
	background-position: 5px 10px;
}

.comment_arrow_small {
	background-position: 5px 8px;
}

#comment_discussion li.odd img {
	float: right;
	margin-right: 10px;
}

#comment_discussion li.odd li img {
	float: right;
	margin: 0 10px 0 0;
}

#comment_discussion li.odd li.odd img {
	float: right;
	margin: 0;
}

li.odd .comment_arrow,li li.odd .comment_arrow_small,#comment_discussion li.odd .comment_arrow_small
	{
	float: right;
	width: 20px;
	height: 50px;
	background: url("/img/comment_arrow_right.png") no-repeat;
	background-position: 0px 10px;
}

.recipe_comment,.recipe_comment_small,.child_comment .recipe_comment,.recipe_comment_answer
	{
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #ece9e3;
	color: #404040;
	float: left;
	padding: 7px 11px 3px 11px;
}

.recipe_comment {
	width: 482px;
}

.recipe_comment_small,.recipe_comment_answer {
	width: 429px;
}

#comment_discussion li ul {
	margin: 0 71px;
}

#comment_discussion li.odd .recipe_comment {
	float: right;
}

#comment_discussion li.odd img {
	float: right;
}

.comment_headline {
	float: left;
}

.comment_headline a {
	color: #859f5e;
	text-decoration: none;
}

.comment_headline a:HOVER {
	text-decoration: underline;
}

.comment_number {
	float: right;
	color: #b5b5b5;
}

.comment_text {
	border-top: 1pt solid #c8c8c8;
	margin: 20px 0 0 0;
	padding: 3px 0 0 0;
	width: 100%;
}

.comment_footer {
	height: 17px;
	width: 100%;
}

.answer_btn {
	color: #c7c7c7;
	float: right;
	cursor: pointer;
	margin-left: 5px;
}

.answer_btn:hover {
	color: #b5b5b5;
}

.comment_btn {
	float: right;
	margin: 2px 1px 0 0;
	cursor: pointer;
	color: #859f5e;
	text-decoration: none;
}

.comment_btn:hover {
	text-decoration: underline;
}

#discussion_footer {
	float: left;
	/*margin: 10px 0 0 0;*/
	width: 100%;
}

#yes_comment {
	font: 14pt Georgia;
	font-style: italic;
	color: #404040;
	text-align: left;
	margin: 12px 0 8px 0;
}

#discussion_footer img {
	float: left;
}

#discussion_footer textarea {
	width: 477px;
	height: 77px;
	outline: none; /*Remove Chrome and Safari glows on focus*/
	resize: none;
}

#no_comment,#no_tags {
	/*wenn man nicht eingeloggt bei discussion footer*/
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	/*font-style: italic;*/
	color: #859F5E;
	text-align: center;
	cursor: pointer;
	margin-top: 5px;
}

#no_comment:hover,#no_tags:hover {
	text-decoration: underline;
}

.discussion_info { /*sonderpost admins/moderatoren */
	width: 492px;
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #ffffff;
	color: #878787;
	float: left;
	margin: 0 71px;
	padding: 7px 11px 7px 11px;
	border: 1px solid #d4d4d4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.no_discussion {
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #878787;
	text-align: left;
	margin: 0 0 6px 0;
}

.child_comment .recipe_comment {
	/*Erscheinendes Element nach AntwortButton*/
	width: 429px;
}

#comment_discussion li.odd .comment_arrow_answer {
	/*Erscheinendes Element nach AntwortButton*/
	float: right;
	background: url("/img/comment_arrow_right.png") no-repeat;
	background-position: 0px 10px;
}

.child_comment .comment_arrow_answer {
	/*Erscheinendes Element nach AntwortButton*/
	float: left;
}

.child_comment textarea {
	width: 423px;
	height: 50px;
	outline: none; /*Remove Chrome and Safari glows on focus*/
	resize: none;
}

.child_comment .comment_btn {
	margin: 2px 1px 0 0;
}

.like,.dislike {
	float: right;
	width: 14px;
	height: 19px;
	background-image: url(/img/likeit.png);
	background-repeat: no-repeat;
	margin: 0 2px;
	cursor: pointer;
}

.like {
	background-position: 0 0;
}

.dislike {
	background-position: -15px 0;
}

.like_nr {
	float: right;
	color: #C7C7C7;
	height: 19px;
	text-align: center;
}

.like_nr.plus {
	color: #74ac6d;
}

.like_nr.minus {
	color: #e45b5b;
}

/*--login formular--*/
#login_container {
	float: left;
	margin-top: 22px;
	margin-left: 19px;
}

#signin_btn {
	position: absolute;
	float: right;
	margin-left: 175px;
	height: 24px;
	width: 59px;
	background: url(/img/signin_bg_off.png) repeat;
	font: 8pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #fff;
	text-decoration: none;
	padding: 6px 1px 0 8px;
	cursor: pointer;
}

#signin_btn.on {
	height: 23px;
	width: 57px;
	background: #edf6dc;
	color: #5a5a5a;
	padding: 6px 1px 0 8px;
	border: 1px solid #87a347;
	border-bottom: 0;
	z-index: 10;
}

#login_arrow {
	float: right;
	height: 5px;
	width: 7px;
	background: url(/img/signin_arrow_off.png) no-repeat;
	margin: 6px 9px 0 4px;
}

#signin_btn.on #login_arrow {
	background: url(/img/signin_arrow_on.png) no-repeat;
}



.login_dropdown {
	position: absolute;
	display:none;
	margin-top: 25px;
	width:auto;
	z-index: 9;
	background-color: #edf6dc;
	border-top: 5px solid #87a347;
	border-bottom: 6px solid #87a347;
	border-right: 1px solid #87a347;
	border-left: 1px solid #87a347;
}

#login_signin{
	margin-left: -138px;
}

#login_user {
	margin-left: 36px;
	width: auto;
	font: 8pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #5a5a5a;
	padding: 5px 0 0 0;
}

#login_user p{	
	margin: 0 10px;
	padding: 5px 0;	
}

#login_user p+p{
	border-top:1px solid #87A347;
}

#login_left, #login_right{
	width:159px;
	padding:0 15px 10px 15px;
	margin:10px 0;
	float:left;
}

#login_register{
	border-top: 1px solid #A2A896;
	padding-top:5px;
}
	
	
#login_right{
	float:right;
	border-left: 1px solid #A2A896;
}

#login_footer{
	width:100%;
	clear:both;
	height:3px;
	background:#A4C259;
}

#login_form p{
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #5A5A5A;
	margin: 0 0 3px;
	line-height:16px;
}



#login_form input[type="text"], #login_form input[type="password"], #login_form input[type="checkbox"]{
	width: 136px;
	height: 25px;
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #b5b5b5;
	float:left;
	padding: 0 0 0 5px;
	margin: 0 0 5px 0;
	border: 1pt solid #87a347;
	border-right: 0pt;
	outline: none; /*Remove Chrome and Safari glows on focus*/
}

#login_form input[type="submit"]{
	height:30px;
	width:159px;
	margin:6px 0 0 0;
	padding: 0;
	border:0;
	background-image: url(/img/anmelden_button.png);
	cursor:pointer;
}

#register_button{
	display:block;
	height:30px;
	width:159px;
	margin-top:12px;
	background-image: url(/img/button_green.png);
	cursor: pointer;
}

#register_button{
	background-image: url(/img/registrieren_button.png);
}

#login_form input#check_stayloggedin{
	width: 20px;
	margin: -4px 0 0 0;
}

#username_end,#email_end,#password_end {
	margin: 0 0 5px 142px;
	width: 16px;
	height: 25px;
	border: 1pt solid #87a347;
	border-left: 0;
	background: #fff;
}

input.right+#username_end,input.right+#email_end,input.right+#password_end
	{
	background: url(/img/login_form_correct.png);
}

input.wrong+#username_end,input.wrong+#email_end,input.wrong+#password_end
	{
	background: url(/img/login_form_fault.png);
}

#stayloggedin, #showpassword{
	margin-top: 5px;
	font: 8pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:15px;
	color: #a2a896;
	cursor: pointer;
}

#stayloggedin:hover, #showpassword:hover {
	color: #5a5a5a;
}

#stayloggedin input{
	float:left;
}

/*-----------facebook-login ------------------------*/

#social_login{
	padding:10px 0 0 5px;
	height:101px;
}

#facebook_login, #openid_login, #twitter_login{
	width:150px;
	height:22px;
	margin-bottom:10px;
	cursor: pointer;
	
}

#facebook_login{
	background-image: url(/img/facebook_login.png);
}

#openid_login{
	background-image: url(/img/openid_login.png);
}

#twitter_login{
	background-image: url(/img/twitter_login.png);
}

/*------------end facebook-login------------------*/
.btn_style {
	font: 8pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #a2a896;
	text-decoration: none;
	margin: 0 1px 0 1px;
	cursor: pointer;
}

.btn_style:hover {
	color: #5a5a5a;
	text-decoration: underline;
}

.btn_style.on {
	color: #5a5a5a;
}

#register_btn {
	margin: 7px 0 0 0;
	clear: left;
	float: left;
	width: 50px;
}

#error_login {
	float: left;
	position: fixed;
	height: 20px;
}

#error_login_left {
	float: left;
	width: 127px;
	height: 100%;
	font: 8pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #c05c54;
	padding: 5px 0 0 5px;
	border: 1pt solid #c05c54;
	border-right: 0pt;
	background-color: #fcebea;
}

#error_login_right {
	float: left;
	width: 8px;
	height: 100%;
	padding-top: 7px;
	background: url(/img/login_error_peak.png) no-repeat;
	background-position: center;
}

/*
<div id='error_login'>
	<div id='error_login_left'>User created</div>
	<div id='error_login_right'></div>
</div>
*/
/*-- nach der Anmeldung --*/


#user {
	width: 181px;
	height:55px;
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #87a347;
	padding: 0 0 3px 4px;
	margin: 0 10px;
	border-bottom: 1px solid #87a347;
}

#user img {
	float:left;
	margin: 3px 0 2px 0;
	height: 50px;
	width: 50px;
}

#user a+a {
	display:block;
	margin: 0 0 0 60px;
	padding-top: 5px;
	text-decoration: none;
	color: #87a347;
}

#user a:hover{
	text-decoration:underline;
}

.user_menu_btn {
	display: block;
	cursor: pointer;
	margin-left: 4px;
	margin-bottom: 3px;
	text-decoration: none;
	color: #5a5a5a;
}

.user_menu_btn:hover {
	text-decoration: underline;
}

/*-----new recipe------------*/
#nr_general_btn {
	margin-left: 49px;
}

.nr_dots {
	margin: 14px 8px 0px 8px;
	float: left;
	background: url("/img/dot.png") repeat-x;
	height: 3px;
	width: 18px;
}

/*-------Rezept erstellen -Danielp ist good for me-------*/
.new_recipe_steps {
	min-height: 550px;
}

#new_recipe_step1,#new_recipe_step2,#new_recipe_step3,#new_recipe_step4
	{
	font: 14pt Georgia;
	font-style: italic;
	color: #5a5a5a;
}

.new_recipe_headline {
	font: 22pt Georgia;
	letter-spacing: 0.5px;
	color: #404040;
	text-align: left;
	margin: 30px 0 10px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #b5b5b5;
}

.next_step {
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #878787;
	width: 85px;
	height: 25px;
	padding: 8px 0 0 16px;
	background: url("/img/weiter_btn.png") no-repeat;
	cursor: pointer;
}

.next_step:hover {
	color: #5a5a5a;
}

#next_step1 {
	float: right;
	margin-right: 197px;
}

#next_step2 {
	margin: -3px 182px 0 370px;
}

#next_step3 {
	margin-left: 357px;
}

#step_1_form td,#step_3_form td {
	height: 40px;
}

td.step_1_left {
	width: 140px;
}

td.step_1_right {
	width: 450px;
}

#recipe_beschreibung,.beschreibung_character {
	float: left;
}

.beschreibung_character {
	font: 14pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	color: #878787;
	margin: 5px 0 0 5px;
}

#step_1_form input,#step_1_form textarea,#step_3_form input,#step_3_form textarea,#step_4_form input,#step_4_form textarea
	{
	background-color: #ece9e3;
	border: 1px solid #979694; /*d1cec9*/
	outline: none; /*Remove Chrome and Safari glows on focus*/
	resize: none;
}

#recipe_name {
	width: 300px;
	height: 28px;
	padding: 0 0 0 5px;
	color: #9b9b9a;
}

#step_1_form input.wrong,#step_1_form textarea.wrong,#step_3_form input.wrong,#step_3_form textarea.wrong,#step_4_form input.wrong,#step_4_form textarea.wrong
	{
	background-color: #fcebea;
	color: #c05c54;
	border: 1pt solid #c05c54;
	outline: none; /*Remove Chrome and Safari glows on focus*/
	resize: none;
}

/*-----Kategorie DropDown neues Rezept-----*/
.step_1_right .recipe_kategorie {
	margin-top: 5px;
	width: 190px;
}

.step_1_right .kategorie_filter {
	margin: 0;
	border: 1pt solid #979694;
}

.step_1_right #kategorie_filter_right {
	float: right;
	width: 28px;
	height: 100%;
	background: url("/img/arrow_down.png") no-repeat;
}

.step_1_right #kategorie_filter_name {
	float: left;
	width: 153px;
	height: 100%;
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #5a5a5a;
	text-align: inherit;
	padding: 5px 0 0 5px;
}

.step_1_right ul.kategorie_filter {
	width: 188px;
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	letter-spacing: normal;
	text-align: inherit;
	padding-top: 0;
	border-top: 0;
}

.step_1_right .kategorie_filter li {
	padding-top: 2px;
	padding-bottom: 2px;
}

.step_1_right .kategorie_filter.wrong {
	background-color: #fcebea;
	border: 1pt solid #c05c54;
}

.step_1_right .kategorie_filter.wrong #kategorie_filter_right {
	background: url("/img/arrow_down_error.png") no-repeat;
}

.step_1_right .kategorie_filter.wrong #kategorie_filter_name {
	color: #c05c54;
}

.step_1_right .kategorie_filter.wrong #kategorie_filter_right {
	border-left: 1pt solid #e5dddc;
}

/*-----Kategorie DropDown Ende-----*/
#recipe_beschreibung,#beschreibung_character {
	margin-top: 7px;
	margin-bottom: 5px;
}

#einleitung_label {
	vertical-align: text-top;
	padding-top: 9px;
}

#recipe_beschreibung {
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width: 300px;
	height: 100px;
	color: #9b9b9a;
	padding: 3px 0 0 5px;
}

#bild_label {
	vertical-align: text-top;
	padding-top: 9px;
}

#file_uploader {
	margin-top: 5px;
}

#step_2_form {
	width: 100%;
}

#step_2_form td {
	vertical-align: top;
}

#step_2_form input,#step_2_form textarea {
	background-color: #f7f4f1;
	border: 1px solid #979694;
	outline: none; /*Remove Chrome and Safari glows on focus*/
	resize: none;
}

#step_table .step_character,#step_table  .minus_btn {
	margin-left: 8px;
}

.new_step {
	float: left;
	height: 147px;
	width: 461px;
	background: url(/img/rezept_frame_bottom.png) repeat-x;
	background-color: #ece9e3;
	background-position: 0 141px;
	margin: 3px 0 10px 0;
}

.step_textarea {
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #404040;
	width: 300px;
	height: 115px;
	margin: 9px 5px 0 0;
}

.step_character {
	font: 14pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	color: #878787;
	margin-top: 7px;
}

.plus_btn {
	float: left;
	width: 25px;
	height: 25px;
	background: url(/img/new_step_off.png) no-repeat;
	cursor: pointer;
}

.plus_btn:hover {
	background: url(/img/new_step_on.png) no-repeat;
}

#neuer_schritt {
	margin: -1px 0 0 5px;
}

.minus_btn {
	float: left;
	width: 25px;
	height: 25px;
	background: url(/img/delete_step_off.png) no-repeat;
	cursor: pointer;
}

.minus_btn:hover {
	background: url(/img/delete_step_on.png) no-repeat;
}

#step_3_form th {
	font-weight: normal;
	text-align: left;
	height: 27px;
}

#step_3_form span {
	margin-left: 2px;
}

#step_3_form input {
	height: 28px;
	padding: 0 0 0 5px;
	color: #5a5a5a;
}

.step_3_left {
	padding: 0 0 0 3px;
	width: 310px;
}

.step_3_right {
	padding: 0 0 0 15px;
	width: 110px;
}

.step_3_left input,.step_3_right input {
	width: 100%;
}

#new_zutat_step3 {
	margin: 3px 0 0 9px;
}

.step_3_delete {
	padding: 0 0 0 12px;
}

.step_3_deletebtn {
	float: left;
	width: 25px;
	height: 25px;
	background: url(/img/delete_step_off.png) no-repeat;
	cursor: pointer;
}

.step_3_deletebtn:hover {
	background: url(/img/delete_step_on.png) no-repeat;
}

.step_4_left {
	width: 300px;
	padding: 0 0 12px 0;
}

#step_4_tags,#step_4_duration,#step_4_person {
	width: 300px;
	padding: 0 0 10px 0;
}

.step_4_left div {
	float: right;
}

.step_4_left .label_stars,.step_4_left .label_chefhats,.step_4_left .label_muffins
	{
	height: 19px;
	width: 19px;
	display: table-cell;
	cursor: pointer;
	padding: 0;
}

.step_4_right {
	padding-left: 50px;
}

#table_skill,#table_kalorien {
	border: 1pt solid #f7f4f1;
}

#table_skill.wrong,#table_kalorien.wrong {
	background-color: #fcebea;
	border: 1pt solid #c05c54;
}

#recipe_tags {
	background-color: #ECE9E3;
	width: 100%;
	float: left;
	min-height: 100px;
	margin-top: 10px;
	border: 1pt #979694 solid;
}

#recipe_tags input {
	background: none;
	outline: none;
	border: 0;
	width: 100%;
}

#recipe_tags .tag {
	margin-top: 2px;
	background-color: #e0ddd7;
}

#new_durationclock {
	float: left;
	margin-top: 3px;
}

#new_durationtext {
	float: left;
	margin: 4px 0 0 2px;
}

#time_block {
	float: right;
	margin-left: 30px;
	font-style: normal;
}

.new_time {
	height: 20px;
	width: 20px;
	color: #5a5a5a;
	border: 1pt solid #f9f8f6;
	margin: 0 2px 0 -3px;
	padding: 0 0 0 3px;
}

#nr_person {
	height: 20px;
	width: 20px;
	color: #5a5a5a;
	border: 1pt solid #f9f8f6;
	padding: 0 0 0 3px;
}

#step_4_person span {
	float: right;
}

#end_newrecipe {
	width: 100%;
}

/*-----TAGCloud-------*/
#tagcloud {
	margin-top: 22px;
	width: 290px;
	text-align: center;
}

#tagcloud  span {
	margin: 0 2px;
	vertical-align: baseline;
	cursor: pointer;
}

#tagcloud>span:hover {
	margin: 2px;
	background-color: #ece9e3;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.last_step_btn {
	font: 10pt Lucida Sans Unicode;
	color: #878787;
	width: 114px;
	height: 22px;
	padding: 12px 0 0 0;
	margin: 10px 100px 0 100px;
	text-align: center;
	background: url("/img/fertig_btn.png") no-repeat;
	cursor: pointer;
}

.last_step_btn:hover {
	color: #5A5A5A;
}

#recipe_ready {
	float: right;
}

#recipe_preview {
	float: left;
}

#progress_1,#progress_2,#progress_3,#progress_4 {
	color: #585858;
	font: 14pt Georgia;
	background-color: #f9f8f6;
}

#progress_1 {
	height: 135px;
}

#progress_2 { /*  is set with jQuery 
	*height:100px;
	*/
	
}

#progress_3 { /*  is set with jQuery 
	*height:100px;
	*/
	
}

#progress_4 { /*  is set with jQuery 
	*height:100px;
	*/
	
}

/* Progress Neues Rezept, Seitenleiste */
#nr_progress {
	height: auto;
}

#nr_name,#nr_kategorie {
	color: #b5b5b5;
	font: 14pt Georgia;
	width: 248px;
	margin: 0 1px 10px 1px;
}

#nr_upload {
	color: #585858;
	font: 14pt Georgia;
	width: 248px;
	margin: 10px 1px 5px 1px;
}

#progress_1,#progress_2,#progress_3,#progress_4 {
	margin: 0 5px 0 5px;
	padding: 10px 14px 0 14px;
}

#upload {
	width: 222px;
	height: 20px;
	margin-left: 3px;
	background-color: #ece9e3;
	border: 1pt solid #585858;
}

#progress {
	width: 1px;
	height: 20px;
	background: #585858;
}

#progress_percent {
	float: right;
	height: 20px;
	font: 10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: normal;
	color: #ece9e3;
	margin: 2px 4px 0 0;
	overflow: hidden;
}

.nr_devider {
	height: 10px;
	background: url("/img/dot.png") repeat-x;
	margin-top: -10px;
}

#nr_statussteps,#nr_statuszutaten,#nr_statustags {
	margin: 15px 0 0 1px;
}

/*--Step2,3,4--*/
#nr_stepnumber,#nr_zutatennumber,#nr_tagnumber {
	color: #b5b5b5;
}

/* ende Progress Neues Rezept, Seitenleist */
/*-----Nichts gefunden Seite-----*/
#noresult_headline {
	padding-top: 41px;
	font: 25pt Georgia;
	letter-spacing: 0.5px;
	color: #404040;
	text-align: left;
}

#noresult_subline {
	margin-top: 3px;
	font: 14pt Georgia;
	letter-spacing: 0.5px;
	color: #404040;
	text-align: left;
}

#noresult_reset {
	float: left;
	margin-top: 15px;
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #859f5e;
	text-decoration: none;
	cursor: pointer;
}

#noresult_reset:hover {
	text-decoration: underline;
}

/*-----Nichts gefunden SeitenENDE-----*/
/*--------Popups-Allgemein------------*/
.background_popup {
	opacity: .6;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	border: 1px solid #cecece;
	z-index: 100;
	display: none;
}

.popup {
	position: fixed;
	width: 620px;
	height: 380px;
	display: none;
	padding: 10px;
	background-color: #ece9e3;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	z-index: 101;
}

.closepopup {
	float: right;
	width: 12px;
	height: 12px;
	cursor: pointer;
	background: url("/img/close_popup.png") no-repeat;
}

/*--------Popups-Allgemein-ENDE-----------*/
/*--------Popups-registrieren------------*/
#register_headline {
	float: left;
	width: 80%;
	margin: 70px 0 0 50px;
	color: #252525;
	font: 29pt Georgia;
}

#register_text,#register_forward {
	font: 11pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #404040;
}

#register_text {
	float: left;
	margin: 20px 70px 0 0;
}

#register_forward {
	float: left;
	margin: 30px 70px 0 0;
	width: 80%;
}

#register_forward a {
	color: #859f5e;
	text-decoration: none;
}

#register_forward a:hover {
	text-decoration: underline;
}

#register_mailprovider img {
	float: left;
	margin: 10px 0 0 0;
	border: 0;
}

#register_copyright {
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #404040;
	float: left;
	width: 90%;
	margin: 0;
}

/*----- Content Message ------*/
.content_message {
	position: relative;
	padding: 10px;
	background-color: #e2eccc;
	color: #899b61;
	border: 1px solid #899b61;
	-moz-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	margin-top: 110px;
	left: 50%;
	margin-left: -201px;
}

.content_message h5,.content_message p {
	margin-left: 25px;
}

.content_message h5 {
	font: 17pt Georgia;
	margin-top: 17px;
}

.content_message p {
	margin-top: 6px;
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height: 11pt;
}

/*----- Content Message ENDE------*/
/*------Rezept ist fertig-------*/
#new_recipe_ready {
	width: 380px;
	height: 100px;
}

/*------Rezept ist fertig Ende-------*/
/*------- Aktivierungsnachricht --------*/
#new_activation {
	width: 380px;
	height: 100px;
}

/*------- Aktivierungsnachricht  Ende--------*/
/*------ backtothetop -----------------*/
#backtothetop {
	position: fixed;
	background: url("/img/backtothetop.png") no-repeat;
	height: 64px;
	width: 64px;
	top: 100px;
	display: none;
	cursor: pointer;
}

/*---------footer---------*/
#content_footer {
	clear: both;
	font: 9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border-top: 1pt solid #B5B5B5;
	margin-top: 30px;
	padding-top: 3px;
	width: 100%;
	height: 60px;
}

#content_footer span {
	float: left;
	color: #919191;
	margin: 0 15px;
}

#footer_links {
	float: right;
	margin: 0 15px;
}

#footer_links a {
	color: #859f5e;
	text-decoration: none;
}

#footer_links a:hover {
	text-decoration: underline;
}

/*---------facebookpopup---------*/
#facebookpopup {
	width: 500px;
	height: auto;
}

#fb_registration {
	float: left;
	margin-top: 5px;
}

/*-----addTags--------*/
#suggestedtags_message {
	float: left;
	width: 380px;
	height: 100px;
	margin-top: 189px;
	margin-bottom: 189px;
}

/* ---- passwort reset -----*/
.error {
	color: #c05c54;
}

#admin_menu{
	display:none;	
}

/*------ registration ------*/
#registration_container{
	overflow: hidden;
	float:left;
	height:447px;
	width:655px;
	position: relative;
}

.registration_step{
	float:left;
	position: absolute;
	width:655px;
}

#reg_step2{
	top:0;
	left:655px;
}

.registration_step h1{
	font:  23pt Georgia;
	color: #404040;
	margin:50px 0 20px 0;
	padding: 0 10px 10px 0;
	border-bottom: 1px solid #D7D3C7;
}

#reg_left{
	font:  14pt Georgia;
	color: #404040;
	width: 200px;
	border-right: 1px solid #D7D3C7;
	padding: 5px 10px 20px 10px;
	float:left;
}

#reg_right{
	margin: 20px 0 0 230px;
	padding: 5px 10px 20px 10px;
}

#reg_left p{
	margin: 20px 0 20px 0;
}

#reg_form input[type="text"], #reg_form input[type="password"]{
	background-color: #ece9e3;
	border: 1px solid #979694; /*d1cec9*/
	outline: none; /*Remove Chrome and Safari glows on focus*/
	resize: none;
	height:28px;
	width:210px;
	padding: 0 0 0 5px;
}

#reg_right p{
	margin: 20px 2px 2px 2px;
	font: 14pt Georgia;
	font-style: italic;
	color: #5A5A5A;
}

#reg_right td{
	width:50%;
	line-height: 30px;
}

#reg_submit{
	padding:6px 10px;
	height: 33px;
	width:101px;
	border:0;
	float:right;
	margin: 20px 0 0 0;
	text-align: left;
}

.reg_error{
	padding: 45px 0 0 20px;
	font:8pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#A2A896;
}

.reg_error.right{
	color:#a4c259;
}

.reg_error.wrong{
	color: #c05c54;
}

