.login_or_register{
  width: 283px;
  height: 50px;
  margin: 10px auto;
  display: block;


  a{
    float: left;
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
    width:100px;
    font-size:12pt;
    cursor: pointer;
    display: inline-block;
    position: relative;
  }
  
  .login_btn{
    background-color:$stepcolor;
    text-shadow: 1px 1px 0px #fff;
    border-top-right-radius:0px;
    border-top-left-radius:8px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:8px;
    border: 1px solid $inactivebuttonoutline;
    @include box-shadow-inset(0, 1px, 1px, rgba(255,255,255, 0.75));
    @include gradient-vertical3($background-right,93%,#d2cfca);
    @include box-shadow(0, 2px, 2px, rgba(0,0,0,0.1));
    @include transition(all, 0.1s, ease-out);
    color: $buttonfontcolor;

    &:hover{
      background: $stepcolor;
      color: $darkfontcolor;
      @include gradient-vertical3(#dbd8d3,93%,$background-right);
      @include transition(all, 0.1s, ease-in);
    }

    &:active{
      background: $stepcolor;
      color: $darkfontcolor;
      @include gradient-vertical3(#dbd8d3,93%,$background-right);
      @include box-shadow-inset(0, 1px, 5px, rgba(0,0,0, 0.4));
      @include transition(all, 0.1s, ease-in);
      border-color: $inactivebuttonoutline;
    }
  }
  .register_btn{
    background-color: $green; 
    text-shadow: 1px 1px 0px #92bd4f;
    color: white;
    border-top-right-radius:8px;
    border-top-left-radius:0px;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:0px;
    border: 1px solid $inactivebuttonoutline;
    border-left: 0px;
    @include box-shadow-inset(0, 1px, 1px, rgba(255,255,255, 0.75));
    @include gradient-vertical3($green,93%,#8ab34d);
    @include box-shadow(0, 2px, 2px, rgba(0,0,0,0.1));
    @include transition(all, 0.1s, ease-out);

    &:hover{
        background: $green;
        @include transition(all, 0.1s, ease-in);
        color: #556e2e;
        text-shadow: 1px 1px 0px #b7e76c;
        @include gradient-vertical3(#9bc754,93%,$green);

    }
    &:active{
        background: $green;
        @include transition(all, 0.1s, ease-in);
        color: #556e2e;
        text-shadow: 1px 1px 0px #b7e76c;
        @include gradient-vertical3(#9bc754,93%,$green);
        @include box-shadow-inset(0, 1px, 5px, rgba(0,0,0, 0.4));
        border-color: $activebuttonoutline;
    }
  }

}

#login_menu{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  visibility: hidden;
  z-index: 95;

  &.visible{
    visibility: visible;
    opacity: 1;
    @include transition(opacity, .3s, ease-in-out);
  }
  .blackOverlay{
      background: rgba(0,0,0,.4);
      position:fixed; 
      width:100%; 
      height:100%; 
      z-index:99;
  }
  .menu{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -168px;
    width: 416px;
    height: 330px;
    z-index: 100;
    background-color: $background;
    padding: 40px 0px 0px 0px;
    overflow: hidden;
    

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    @include box-shadow(0, 2px, 2px, rgba(0,0,0,0.3));
    
    .loginContainer{
      padding: 0 40px;
      background-color: $background;
      h1{
        text-align: center;
        font-size: 22pt;
        padding: 20px 0;
      }

      input[type=text],input[type=password]{
        width: 90%;
        height: 34px;
        margin: 0 auto 20px auto;
        display: block;

      }

      .errorMsg{
        color: $error;
        width: 310px;
        position: absolute;
        margin: -28px 0 0 12px;
        visibility: hidden;
        opacity: 0;

        a{
          color: $error;
          text-decoration: underline;
          cursor: pointer;

          &:hover{
            color: #9e3131;
            text-decoration: underline;
          }
        }

        &.visible{
          visibility: visible;
          opacity: 1;
          @include transition(opacity, .1s, ease-in-out);
        }
      }
      
      .subcontainer{
          width: 94%;
          margin: 0 auto 20px auto;
          display: block;
          height: 50px;

          .remember{
            display: block;
            width: 175px;
            float: left;
            padding: 10px 0;
          }

          input[type=submit]{
            float: right;
            height: 36px;
            line-height: 36px;
            padding: 0 30px;
            background-color: $headergreen;
            color: white;
          }
      }
    }
    .registerContainer{
      background-color: $background-right;
      width: 100%;
      height: 60px;

      p{
        text-align: center;
        line-height: 60px;

        a{ margin-left: 5px; }
      }

    }
  }

}