body{
	background-color: #f7f4f1;
	font:  10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#page{
	width:1016px;
	height: 100%;
	position: relative;
	left: 50%;
	margin-left: -508px;	
}

#content_main {
	z-index: 1;
	margin-top:-17px;
	border: 1px solid;
	border-color: #CCC;
	border-bottom:none;
	float:left;
	min-height:600px;
	width:100%;
	background-color: #fff;
}
	
/* backendtable */

.backendtable{
	float:left;
	font:  8pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin:15px 0 15px 15px;
	border-spacing: 0px;
	width:800px;
}

.backendtable th{	
	padding:2px;
}

.backendtable td{
	padding: 2px 5px 2px 5px;
	
}

/*rezeptelist*/

#rezeptelist{
	margin:30px 0 15px 15px;
	padding:0px;
	
	font:  9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	list-style-type: none;
	float:left;
	width:800px;
}

#rezeptelist li{
	background: url("../icons/arrow-close.png") no-repeat 0 5px;
	padding:2px 0 2px 15px;
	margin:2px 0 0 10px;
	float:left;
	width:700px;
}

#rezeptelist li.open{
	background: url("../icons/arrow-open.png") no-repeat 0 5px;
}

#rezeptelist div{
	float:left;
}

#rezeptelist .rezept_name{
	padding-left:5px;
	cursor:pointer;
	width:250px;
}

#rezeptelist .new{
	color: #859F5E;
	width:50px;
	margin-left:-50px;
}

#rezeptelist .rezept_name.inactive{
	color:#e52929;
}

#rezeptelist .rezept_name:hover{
	text-decoration:underline;
}

#rezeptelist .rezept_date{
	width:80px;
	text-align:right;
}

#rezeptelist .rezept_viewed, #rezeptelist .rezept_schmeckt, #rezeptelist .rezept_delete{
	width:90px;
	text-align: right;
}

#rezeptelist .rezept_delete{
	width:60px;
	color:red;
	cursor: pointer;
}

#rezeptelist .rezept_delete:hover{
	text-decoration:underline;
}

.versiontable{
	float:none;	
	font:  8pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding:15px 0 15px 10px;
	border-spacing: 0px;
	width:700px;
	
}

.versiontable tr, .versiontable td, .versiontable th{
	border: 1px solid #aaaaaa;
	
}

.versiontable tr{
	background-color: #ece9e3;
}

.versiontable tr.active{
	background-color:#e0eecb;
}

.versiontable td.activate, .versiontable td.deactivate{
	cursor:pointer;
}

.versiontable td.activate:hover, .versiontable td.deactivate:hover{
	text-decoration: underline;
}

#new_index{
	margin-top:10px;
	cursor: pointer;
}

#new_index:hover{
	text-decoration: underline;
}

/* zutaten */
#zutatenlist{
	margin:30px 0 15px 15px;
	padding:0px;
	
	font:  9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	list-style-type: none;
	float:left;
	width:800px;
}

/* user */
#usertable td{	
	border: 1px solid #aaaaaa;
}

#usertable th{	
	border: 1px solid #aaaaaa;
}



#usertable th+th{
	cursor:pointer;
}

#usertable th.on{
	text-decoration: underline;
	
}



#info{
	font:  9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #404040;
	width:160px;
	float:left;
	margin-top:15px;
	margin-left:15px;
	padding-left:10px;
	padding-bottom:50px;
	border-left:1px solid #CCC;
	min-height: 200px;
}

#info>p{
	margin: 5px 0 0 0;
}

#info select{
	margin-top: 5px;
	font:  9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#info h3{
	border:1px solid #CCC;
	border-bottom:0;
	margin: 0;
	margin-top:30px;
	width:153px;
	float:left;
	padding:5px 0 0 5px;
	background-color: #ece9e3;
}

#info table{
	border:1px solid #CCC;
	border-top:0;
	background-color: #ece9e3;
	width:160px;
	padding:5px 5px 5px 5px;
	border-spacing: 0;
}

#info td+td{
	text-align:right;
}

#confirm{
	float:left;
	display:none;
	background-color: #e0eecb;
	padding:5px;
	margin:10px 0 10px 0;
	border: 1px solid #CCC;
}

#confirm_text ul{
	list-style:none;
	font:  7pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 7px 0 5px 0;
	padding:0 0 0 0;
}

.confirm_buttons{
	
	font-weight: bold;
	cursor: pointer;
}

#confirm_yes{
	float:left;
	margin:5px 0 0 20px;
	width: 40px;
}

#confirm_no{
	float:right;
	margin:5px 20px 0 0;
}
.confirm_buttons:hover{
	text-decoration: underline;
}

#selected_recipe{
	font-weight:bold;
}

/*----footer-----*/
#footer{
	background-color: #fff;
	width:1006px;
	float:left;	
	border: 1px solid;
	border-color: #CCC;
	border-top:none;
	text-align: right;
	padding: 5px 10px 5px 0;
}
	
#footer a{
	font:  9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #859F5E;
	padding: 0 5px;
}
