body{
	background-color: #f7f4f1;
	font:  10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#page{
	width:1016px;
	height: 100%;
	position: relative;
	left: 50%;
	margin-left: -508px;	
}

#content_main {
	z-index: 1;
	margin-top:-17px;
	border: 1px solid;
	border-color: #CCC;
	border-bottom:none;
	float:left;
	min-height:600px;
	width:100%;
	background-color: #fff;
}

#rezeptTable{
	/*font:  10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	list-style:none;
	float:left;
	margin:10px;
	width:75%;
	min-height:10px;
	background-color: #fff;
	}
	
.rezObject{
	width:100%;
	min-height:20px;
	float:left;
	margin:5px;
	background-color: #e0eecb;
	border: 2px solid;
	border-color: #859f5e;
	}	

.rezObject h1{
	margin: 0px;
	font:  10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}

.rezObject ul li{
	display:block;
	list-style:none;
	list-style-type:none;
	}

.rezObject ul {
	display:block;
	list-style:none;
	list-style-type:none;
	}


#tagCloud{
	float:left;
	margin:10px;
	width:15%;
	min-height:10px;
	background-color: #ff0;
	}

#statistics{
	position:absolute;
	min-width:20px;
	min-height:10px;
	background-color: #ff0;
	}

#rezeptActions{
	float:left;
	margin:10px;
	width:15%;
	min-height:10px;
	background-color: #f7f4f1;
	}

.not_active{
	background-color: #eecbe0;
	border: 2px solid;
	border-color: #9f5e85;
	}

.rez_selected{
	background-color: #cbe0ee;
	border: 2px solid;
	border-color: #5e859f;
	}

	
.button{
	width: 114px;
	height: 37px;
	background: url(../img/button.png) no-repeat;
	color:#878787;
	padding-top:6px;
	margin-left: 10px;
	text-align:center;
}

.action_possible{
	color:#000;
	}
	
/*	
.rezept_zutaten{
	float:left;
	
	}

.rezept_bild{
	float:left;
	}
*/

.step{
	float:left;
	}

.step_number{
	margin:8px 0;
	float: left;
	height: 123px;
	width: 110px;
	font:  45pt Georgia;
	line-height: 110px;
	color: #404040;
	text-align: center;
	border-right: 1pt solid #d7d3c7;
	margin-right: 15px;
}

.step_text{
	float: left;
	width: 356px;
	font:  10pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #404040;
}


/* user */
#usertable{
	float:left;
	font:  8pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin:15px 0 15px 15px;
	width:800px;
	border-spacing: 0px;
}

#usertable th{	
	padding:2px;
	border: 1px solid #aaaaaa;
}
#usertable th+th{
	cursor:pointer;
}

#usertable th.on{
	text-decoration: underline;
	
}

#usertable td{
	padding: 2px 5px 2px 5px;
	border: 1px solid #aaaaaa;
}

#user_info{
	font:  9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #404040;
	width:160px;
	float:left;
	margin-top:15px;
	margin-left:15px;
	padding-left:10px;
	padding-bottom:50px;
	border-left:1px solid #CCC;
	min-height: 200px;
}

#user_info>p{
	margin: 5px 0 0 0;
}

#user_info select{
	margin-top: 5px;
	font:  9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#user_info h3{
	border:1px solid #CCC;
	border-bottom:0;
	margin: 0;
	margin-top:30px;
	width:153px;
	float:left;
	padding:5px 0 0 5px;
	background-color: #ece9e3;
}

#user_info table{
	border:1px solid #CCC;
	border-top:0;
	background-color: #ece9e3;
	width:160px;
	padding:5px 5px 5px 5px;
	border-spacing: 0;
}

#user_info td+td{
	text-align:right;
}

#confirm{
	float:left;
	display:none;
	background-color: #e0eecb;
	padding:5px;
	margin:10px 0 10px 0;
	border: 1px solid #CCC;
}

#confirm_text ul{
	list-style:none;
	font:  7pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 7px 0 5px 0;
	padding:0 0 0 0;
}

.confirm_buttons{
	
	font-weight: bold;
	cursor: pointer;
}

#confirm_yes{
	float:left;
	margin:5px 0 0 20px;
	width: 40px;
}

#confirm_no{
	float:right;
	margin:5px 20px 0 0;
}
.confirm_buttons:hover{
	text-decoration: underline;
}

/*----footer-----*/
#footer{
	background-color: #fff;
	width:1006px;
	float:left;	
	border: 1px solid;
	border-color: #CCC;
	border-top:none;
	text-align: right;
	padding: 5px 10px 5px 0;
}
	
#footer a{
	font:  9pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #859F5E;
	padding: 0 5px;
}
