// colors
@background: #f7f4f1;
@background-right: #ece9e3;
@headergreen: #95b64f;
@headergreenbright: #accc5a;
@darkgrey: #5A5A5A;
@darkgreencontour: #5F7624;
@innerborder: #9C8D8D;
@darkergrey: #d1cac5;
@input-background: #f0ede6;
@input-background-active: @background;
@searchbarborder: #577052;
@linkcolor: #859F5E;
@darkfontcolor: #404040;
@imginnerbordercolor: #F9F8F6;
@lightgrey:#dad9d7;
@shadowbeige:#b5b5b5;
//@stepcolor:#f2efeb;
@stepcolor:#ece9e3;
@smalllightfontcolor: #878787;



