// Entdecken
#discover{
	@width: @contentwidth;
	width: @width;
	display: block;
	
	h2{
		text-align:center;
		margin:0 0 8px 0 ;
	}
	
	.entdecken{
		width:@contentwidth;
		height:135px;
		background-color: @stepcolor;
		border-top: 1px solid @lightbrown;
		border-bottom: 1px solid @lightbrown;
		margin:0 0 20px 0 ;		
		text-decoration: none;
		
		.discover_rezept_bild{
			float: left;
			display: block;
			position: absolute;
			height: 100px;
			width: 100px;
			border: 3pt solid @imginnerbordercolor;
			outline: 1px solid @lightgrey;

			span{
					display: block;
					margin: 3px;
					opacity: 1;
					font: 7pt "Lucida Sans Unicode", "Lucida Grande", sans-serif;
					color: white;
				}
				
		}
		
	}
	
	
}