#discussion_container{
	width: 100%;
	float: left;
	
	#discussion_headline{
		height: 71px;
		width: 100%;
		border-top:1px solid @lightgrey;
		border-bottom: 1px solid @lightgrey;
		text-align: center;
		padding-top: 13px;
		margin: 0 0 10px 0;
	}
	
	#comment_discussion{
		width: 100%;
		float: left;
		
		li{
			list-style-type: none;
			.comment_arrow{
				float:left;
			}
			.recipe_comment{
				float: left;
				width: 482px;
				border:1px solid @lightgrey;
				background-color: @stepcolor;
				
			}
		}
	}



}	

