//common functions 
.transition(@type, @duration, @ease){
	transition: @type  @duration @ease;
	-webkit-transition: @type  @duration @ease;
	-moz-transition: @type  @duration @ease;
	-o-transition: @type  @duration @ease;
}

.border-radius(@topLeft, @topRight, @bottomRight, @bottomLeft){
	border-top-left-radius: @topLeft;
	border-top-right-radius: @topRight;
	border-bottom-right-radius: @bottomRight;
	border-bottom-left-radius: @bottomLeft;
}

.no-box-shadow(){
	box-shadow: none;
	-moz-box-shadow:none;
	-webkit-box-shadow: none;
	-o-box-shadow:none;
}

.box-shadow(@right, @bottom, @blur, @color){
	box-shadow: @right @bottom @blur @color;
	-moz-box-shadow: @right @bottom @blur @color;
	-webkit-box-shadow: @right @bottom @blur @color;
	-o-box-shadow: @right @bottom @blur @color;	
}

.box-shadow(@right, @bottom, @blur, @spread, @color){
	box-shadow: @right @bottom @blur @spread @color;
	-moz-box-shadow: @right @bottom @blur @spread @color;
	-webkit-box-shadow: @right @bottom @blur @spread @color;
	-o-box-shadow: @right @bottom @blur @color;	
}

.box-shadow2(@right, @bottom, @blur, @color, @right2, @bottom2, @blur2, @color2){
	box-shadow: @right @bottom @blur @color, @right2 @bottom2 @blur2 @color2;
	-moz-box-shadow: @right @bottom @blur @color, @right2 @bottom2 @blur2 @color2;
	-webkit-box-shadow: @right @bottom @blur @color, @right2 @bottom2 @blur2 @color2;
	-o-box-shadow: @right @bottom @blur @color, @right2 @bottom2 @blur2 @color2;
}

.box-shadow2(@right, @bottom, @blur, @spread, @color, @right2, @bottom2, @blur2, @spread2, @color2){
	box-shadow: @right @bottom @blur @spread @color, @right2 @bottom2 @blur2 @spread2 @color2;
	-moz-box-shadow: @right @bottom @blur @spread @color, @right2 @bottom2 @blur2 @spread2 @color2;
	-webkit-box-shadow: @right @bottom @blur @spread @color, @right2 @bottom2 @blur2 @spread2 @color2;
	-o-box-shadow: @right @bottom @blur @spread @color, @right2 @bottom2 @blur2 @spread2 @color2;
}

.box-shadow2withinset(@right, @bottom, @blur, @spread, @color, @right2, @bottom2, @blur2, @spread2, @color2, @right3, @bottom3, @blur3, @color3){
	box-shadow: @right @bottom @blur @spread @color, @right2 @bottom2 @blur2 @spread2 @color2,inset @right3 @bottom3 @blur3 @color3;
	-moz-box-shadow: @right @bottom @blur @spread @color, @right2 @bottom2 @blur2 @spread2 @color2,inset @right3 @bottom3 @blur3 @color3;
	-webkit-box-shadow: @right @bottom @blur @spread @color, @right2 @bottom2 @blur2 @spread2 @color2,inset @right3 @bottom3 @blur3 @color3;
	-o-box-shadow: @right @bottom @blur @spread @color, @right2 @bottom2 @blur2 @spread2 @color2,inset @right3 @bottom3 @blur3 @color3;
}

.box-shadow3(@right, @bottom, @blur, @color, @right2, @bottom2, @blur2, @color2, @right3, @bottom3, @blur3, @color3){
	box-shadow: @right @bottom @blur @color, @right2 @bottom2 @blur2 @color2, @right3 @bottom3 @blur3 @color3;
	-moz-box-shadow: @right @bottom @blur @color, @right2 @bottom2 @blur2 @color2, @right3 @bottom3 @blur3 @color3;
	-webkit-box-shadow: @right @bottom @blur @color, @right2 @bottom2 @blur2 @color2, @right3 @bottom3 @blur3 @color3;
	-o-box-shadow: @right @bottom @blur @color, @right2 @bottom2 @blur2 @color2, @right3 @bottom3 @blur3 @color3;
}

.box-shadow-inset(@right, @bottom, @blur, @color){
	box-shadow: inset @right @bottom @blur @color;
	-moz-box-shadow: inset @right @bottom @blur @color;
	-webkit-box-shadow:inset @right @bottom @blur @color;
	-o-box-shadow: inset @right @bottom @blur @color;	
}

.box-shadow-inset(@right, @bottom, @blur, @spread, @color){
	box-shadow: inset @right @bottom @blur @spread @color;
	-moz-box-shadow: inset @right @bottom @blur @spread @color;
	-webkit-box-shadow:inset @right @bottom @blur @spread @color;
	-o-box-shadow: inset @right @bottom @blur @spread @color;	
}

.border-bottom-image(@url, @top, @right, @vert){
	border-bottom-image: @url @top @right @vert;
	-moz-border-bottom-image: @url @top @right @vert;
	-webkit-border-bottom-image: @url @top @right @vert;
	-o-border-bottom-image: @url @top @right @vert;
}

.translate(@left, @top){
	-webkit-transform: translate(@left,@top);
    -moz-transform: translate(@left,@top);
    -o-transform: translate(@left,@top);
    -ms-transform: translate(@left,@top);
}
