
a{ 
	color:@linkcolor;
	text-decoration:none;
	
	&:hover{
		text-decoration:underline;
	}
	
	img{
		border:0;
	}
}

input{
	outline:none;
	
	&[type="text"], &[type="password"], &[type="email"]{
		font:  12pt Georgia;
		color: #404040;
		padding:5px 6px;
		background-color:@input-background;
		.transition(background-color, 0.1s, ease-out);
		border: 1px solid @innerborder;
		border-radius:3px;
		.box-shadow2(0, 2px, 1px, @darkergrey, 0, 3px, 0, @innerborder);	
		height:18px;
		
		&:focus{
			.transition(background-color, 0.1s, ease-in);
			background-color:@input-background-active;
		
		}
		
	}
}

input::-webkit-input-placeholder{
			font:@standardfont;
			text-align:right;
			
}

input:-moz-placeholder{
			font:@standardfont;
			text-align:right;
}