#step1{
	.recipe_image_container{
		margin: 10px 0;
	
	}
	
}

#step2{

}

#step3{

}


form.recipeediting{
	clear:both;
	
	@inputwidth: 340px;
	
	h2{
		margin-top: 10px;
	}
	
	
	p{
		margin: 2px 0 5px;
	}
	
	input[type="text"]{
		width: @inputwidth;
	}
	
	textarea{
		width: @inputwidth;
		height: 110px;
		padding: 4px 5px;
	}
	
	input[type="submit"]{
		float:right;
		
	}
}
