@media print{
	#header, #searchbar, #right, .button, #schmecktmir, .recipe_image_container, .option, #autoren, #introduction{
		display: none !important;
	}
	
	#container{
		margin: -15cm 0 0 0;
		
	}
	
	#recipe_headline{
		margin:0 10cm 0 0;
		width:10cm;
		font: 23pt Georgia;
	}
	
}