@media print{
	#searchbar, #right, .button, #schmecktmir, .recipe_image_container, .option{
		display: none;
	}
	
	#recipe_headline{
		margin:0 10cm 0 0;
		width:10cm;
		margin-bottom: 1cm;
	}
	
}