.recipe_image_container{
	float:left;
	position:relative;
	border: 8px solid $stepcolor;
	outline: 1px solid $lightgrey;
	margin: 1px;
	width: $stepwidth - 18;
	min-height: 300px;
	background-color: #585858;
	
	.recipe_image{
		float:left;
		width: $stepwidth - 20;
		border: 1px solid #737373;
	}
}


#recipe_main{
	width:100%;
	float:left;
	position:relative;
	
	#schmecktmir{
			cursor:pointer;
			height:95px;
			width:95px;
			right:80px;
			top:30px;
			position:absolute;
			background:url("/img/schmecktmir95x95.png") no-repeat;
			background-position:0 -95px;
			//margin:0 0 0 -30px;
			
			&.on{
				background-position:0 0;
				
				span{
					background-position: 0 -285px;
				}
				
			}
			
			span {
		        position: absolute;
		        top: 0; left: 0; bottom: 0; right: 0;
		        background: url("/img/schmecktmir95x95.png") no-repeat;
		        background-position: 0 -190px;
		        opacity: 0;
		        @include transition(opacity, .1s, ease-in);
			}
			
			&:hover span{
				opacity:1;
				@include transition(opacity, .1s, ease-out);
			}
			
		}
	
	#recipe_options{
		$optionswidth: $contentwidth - $stepwidth;
		float:left;
		position:absolute;
		bottom:30px;
		right:0;
		width: $optionswidth;
		//padding-top:200px;
		
		.option{
			cursor:pointer;
			float:left;
			height:29px;
			font-size:9pt;
			position:relative;
			background-color:$stepcolor;
			margin-bottom: 5px;
			border-top:1px solid $lightgrey;
			border-bottom:1px solid $lightgrey;
			color: $darkfontcolor;
			@include transition(padding-left, .1s, ease-out);
			@include transition(background-color, .1s, ease-out);
			
			&:active{
				background-color:$activeoptions;
				@include transition(background-color, .1s, ease-in);
				
				.right{
					span{
						 opacity: 1;
			        	@include transition(opacity, .1s, ease-in);
					}
				}
			}
			
			&.on{
				cursor:auto;
				padding-left:5px;
				width:155px;
				
				.left{
					padding-top:0;
				}
			}
			
			
			&:hover{
				padding-left:5px;
				@include transition(padding-left, .2s, ease-in);
			}
			
			.img{
				margin:5px 6px 0;
				float:left;
				background:url("/img/icons20x20.png") no-repeat;
				width:20px;
				height:20px;
			}
			
			&#share{
				.img{
					background-position: -80px 0;
				}
			}
			
			&#tags{
				.img{
					background-position: -100px 0;
				}
			}
			
			&#print{
				.img{
					background-position: -120px 0;
				}
			}
			
			
			
			.left{
				float:left;
				padding-top:6px;
				
				.share_container{
					float:left;
					padding:2px;
					background-color:$facebookbg;
					border-radius:2px;
					margin: 5px 0 0 2px;
					
					&#fb{
						padding:0;
						width:87px;
						background:none;
					}
					
					&#gplus{
						width:24px;
						height:15px;
					}
					
					&#twitter{
						width:24px;
						height:15px;
						
						width:15px;
						height:15px;
						
						a{
							display:block;
							background-image:url("/img/twitter15x15.png");
							width:100%;
							height:100%;
							position:relative;
							
							&:hover{
								span{
									opacity: 1;
			        				@include transition(opacity, .1s, ease-out);
								}
							}
							
							span{
								position: absolute;
						        top: 0; left: 0; bottom: 0; right: 0;
						        background: url("/img/twitter15x15.png") no-repeat;
						        background-position: 0 -15px;
						        opacity: 0;
						        @include transition(opacity, .1s, ease-out);
							}
						}
					}
				}
			}
			
			.right{
				position:relative;
				float:right;
				height:100%;
				width:6px;
				margin-left:7px;
				background:url("/img/option_btn_right6x29.png") no-repeat $background;
				
				span{
					position: absolute;
			        top: 0; left: 0; bottom: 0; right: 0;
			        background: url("/img/option_btn_right6x29.png") no-repeat;
			        background-position: 0 -29px;
			        opacity: 0;
			        @include transition(opacity, .1s, ease-out);
				}
			}
		}
	}
	
	

}

#recipe_info{
	float:left;
	$width: $stepwidth - 20;
	width:$width;
	padding: 0 10px;
	margin: 10px 0 10px;
	
	#recipe_headline{
		float:left;
		width:100%;
		text-align:center;
	}
	#autoren{
		float:left;
		width:100%;
		font-style:italic;
		text-align:center;
		font-size:10pt;
		color: $smalllightfontcolor;
	}
	
	#introductionposition{
	float: right;
	left: -50%;
	margin: 0 auto;
	text-align: left;
	position: relative;
	
	#introduction{
			/*float:left;*/
			position: relative;
			left: 50%;
			/*width:$width - 10;*/
			margin: 5px 0 0;
			padding: 0 5px;
			color: $smalllightfontcolor;
		}
	}
}
		
#step_container{
	padding-top:15px;
	float:left;
	width:100%;
	list-style: none;
}
.ingredient_step{
	position: relative;
	padding:10px 0;
	
	.step{
		position:relative;
		z-index: 2;	
		width:$stepwidth;
		height:142px;
		//margin-bottom:15px;
		border-top:1px solid $lightgrey;
		border-bottom:1px solid $lightgrey;
		@include box-shadow-spread(0, 3px, 2px, -2px, $shadowbeige);		
		
		.left{
			float:left;
			width:6px;
			height:100%;
			background:url("/img/rezept_frame_left.png") no-repeat;
		}
		
		.mid{
			width:$stepwidth - 12;
			height:100%;
			float:left;
			background-color: $stepcolor;
			color: $darkfontcolor;
			.number{
				margin:8px 0;
				float: left;
				height: 123px;
				width: 110px;
				font: 45pt Georgia;
				line-height: 110px;						
				text-align: center;
				border-right: 1pt solid $lightgrey;
				margin-right: 15px;
			}
		
			.text{
				padding: 0 15px 0 0;
			}
		}
		
		.right{
			float:right;
			background: url("/img/rezept_frame_right.png") no-repeat;
			height:100%;
			width:6px;
		}
	}
	
	.ingredients{
		position: relative;
		z-index: 1;
		width:462px;
		/*float:left;*/
		background-color: $imginnerbordercolor;
		border: 1px solid $lightgrey;
		border-top: 0;
		margin: -1px 12px 0;
		padding: 7px 10px 6px;
		color: $smalllightfontcolor;
		font-size: 9pt;
		@include box-shadow-inset-spread(0, 5px, 12px, -4px, $shadowbeige);
	}
}

#recipetags{	
	
}

.info{
	display:none;
	position:relative;
	margin-bottom:15px;
	padding: 0 12px 0 18px;
	background: url("/img/recipe_event_yellow_left.png") repeat-y $discussionyellow;
	border-top:1px solid $discussionyellowborder;
	border-bottom:1px solid $discussionyellowborder;
	@include box-shadow-inset(0, 2px, 2px, rgba(255,255,255, 0.4));
	float:left;
	width:$contentwidth - 30px;
	
	&.active{
		background:url("/img/recipe_event_green_left.png") repeat-y $activebuttonbackground;
		border-top:1px solid $activebuttonoutline;
		border-bottom:1px solid $activebuttonoutline;
		
		
		.left{
			.headline{
				color:$activebuttonfontcolor;
			}
		}
		.rightbackground{
			background: url("/img/recipe_event_green_right.png") repeat-y;
		}
	}
	
	&#editing_info{
		.left{
			width:543px;
		}
	}
	
	.left{
		float:left;
		height:100%;
		padding: 16px 0 19px 0;
		width:473px;
		display:block;
		
		&:hover{
			text-decoration:none;
		}
		
		.headline{
			float:left;
			color:$discussionyellowfont;
			line-height:15px;
		}
	}
	
	.right{
		float:right;
		margin-top: 12px;
		width:128px;
		right:0;
	}
	
	.rightbackground{
		position:absolute;
		background: url("/img/recipe_event_yellow_right.png") repeat-y;
		top:0px;
		bottom:0px;
		right:0;
		width:4px;
	}
}