.settings_saved{
		float: right;
		margin: -20px 10px 0 0;
		color: @smalllightfontcolor;
		display:none;
}

#settings_content{
	margin: 10px 0 25px;
		
	/*account_image{
		float: left;
		border: 8px solid @stepcolor;
		outline: 1px solid @lightgrey;
		width: 200px;	
	}*/
	
	.profile_image{
		position:relative;
		.image_upload{
			margin-left:25px;
		}
		
		img{
			float:left;
			width:200px;
		}
	}
	
	#account_data{
		list-style: none;
		float: left;
		width: 350px;
		padding-left: 30px;
		
		li{
			float: left;
			margin-bottom: 15px;
			
			h2, input{
				float: left;
			}
					
			h2{
				width: 85px;
				padding-top: 3px;
			}
			
			input{
				width: 250px;
			}
			
			#about_me{
				width: 100%;
				margin-bottom: 7px;
			}
		
			textarea{
				width: 335px;
				height: 110px;
				margin: 0;
				
			}
		}
	}
}

#settings_account{
	padding: 0 0 0 10px;
	
	h2{
		margin-top: 10px;
		
	}
	
	#mailadress{
		width: 380px;
	}
	
	#old_password_container, #new_password_container{
		float: left;
		
		input{
			width:179px;
			margin-right: 10px;
		}
	}
	
	#password_secure{
		float: left;
		width: 230px;
		height: 65px;
	}
	
	.tagsbox, #tagcloud{
		width:390px;
	}
	
}


.headbox{
		height: 25px;
		width: 400px;
		padding: 12px 20px 10px;
		margin-top: 15px;
		border-radius: 5px;
		position: relative;
		
		h2{
			font: 12pt "Lucida Sans Unicode","Lucida Grande",sans-serif;
			float: left;
		}
				
		/*var for position*/
		@bigcheckboxposition: 17px; 
		
		input{
				position:absolute;
				right: @bigcheckboxposition;
				opacity: 0;
				width: 16px;
				height: 16px;
				cursor: pointer;
				z-index: 11;
				
				&:hover + .bigcheckbox, &:active + .bigcheckbox{
				background-position: 0px -22px;	
				}
				
				&:checked + .bigcheckbox {
					background-position: 0px -44px;	
				}
			}
		
		input + .bigcheckbox{
			position:absolute;
			right: @bigcheckboxposition;
			width: 22px;
			height: 22px;
			background-image: url("/img/bigcheckbox22x22.png");
			background-position: 0px 0px;
			background-repeat: no-repeat;
			z-index: 10;
		}
		
		

}
	
#mail_notification{
		background-color:@stepcolor;
		border: 1px solid @lightbrown;
}

#fb_notification{
		background-color:#3b5998;
		border: 1px solid #1e2d4c;
		h2{
			color: white;
		}
}

.settings_content{
	display:none;
		position: relative;
		z-index: 1;
		width: 430px;
		margin: 0 0 5px 5px;
		background-color:@imginnerbordercolor;
		border:1px solid @lightbrown;
		border-top: 0;
		.border-radius(0px, 0px, 5px, 5px);
		
		table{
			width: 100%;
			color: @darkfontcolor;
			border-collapse: collapse;
			
			tr{
				border-bottom:1px solid @lightbrown;
				line-height: 37px;
									
				td{
					padding-left: 10px;
				}
				td+td{
					padding: 0 10px 0 0;
				}
				
				
				
			}
			tr:last-child{
				border-bottom:0px;
			}


		}
		
		
	}
