.settings_saved{
		display: none; /*temp*/
}

#settings_content{
	margin: 10px 0 25px;
		
	#account_image{
		float: left;
		border: 8px solid @stepcolor;
		outline: 1px solid @lightgrey;
		width: 200px;	
	}
	
	#account_data{
		list-style: none;
		float: left;
		width: 350px;
		padding-left: 30px;
		
		li{
			float: left;
			margin-bottom: 15px;
			
			h2, input{
				float: left;
			}
					
			h2{
				width: 85px;
				padding-top: 3px;
			}
			
			input{
				width: 250px;
			}
			
			#about_me{
				width: 100%;
				margin-bottom: 7px;
			}
		
			textarea{
				width: 335px;
				height: 110px;
				margin: 0;
				
			}
		}
	}
}

#settings_account{
	padding: 0 0 0 10px;
	
	h2{
		margin-top: 10px;
		
	}
	
	#mailadress{
		width: 380px;
	}
	
	#old_password_container, #new_password_container{
		float: left;
		
		input{
			width:179px;
			margin-right: 10px;
		}
	}
	
	#password_secure{
		float: left;
		width: 230px;
		height: 65px;
	}
	
	.tagsbox, #tagcloud{
		width:390px;
	}
	
	.bigcheckbox{
		border-radius: 5px;
		height: 60px;
		width: 400px;
		padding: 10px 20px;
		font-size: 15px;
	}
	
	#mail_notification{
		background-color:@stepcolor;
		border: 1px solid @lightbrown;
		color: @darkfontcolor;
	}
}


