.settings_saved{
		display: none; /*temp*/
}

#settings_content{
	margin-bottom: 25px;
		
	#account_image{
		float: left;
		border: 8px solid @stepcolor;
		outline: 1px solid @lightgrey;
		width: 200px;	
	}
	
	#account_data{
		list-style: none;
		float: left;
		width: 350px;
		padding-left: 30px;
		
		li{
			float: left;
			margin-bottom: 15px;
			
			h2, input{
				float: left;
			}
					
			h2{
				width: 85px;
				padding-top: 3px;
			}
			
			input{
				width: 250px;
			}
			
			#about_me{
				width: 100%;
				margin-bottom: 7px;
			}
		
			textarea{
				width: 335px;
				height: 110px;
				margin: 0;
				
			}
		}
	}
}

#settings_account{
	padding: 0 0 0 10px;
	
}


