@import "functions";
@import "colors";
@import "fonts";

//lengths
@headercontentheight: 80px;

body, div, ul,ol, li, h1,h2,h3,h4, p,th,td,form{
	margin:0;
	padding:0;
	font: @standardfont;
	
}


// HEADER
header{
	position: fixed;
	//z-index: 0;
	width:100%;
	height:80px;
	background-color: @headergreen;
	
	
	#header{
		margin: 0 auto;
		width:980px;
		height:100%;
		
		#logo{
			float:left;
			margin:11px 0 0 57px;		
		}
		
		#searchbar{
			float:left;
			margin: 22px 0 0 128px;
			width: 400px;
			height: 36px;
			
			#loupe{
				float:left;
				width:37px;
				height: 100%;
				background: url("/img/loupe.png") no-repeat;			
			}
			
			form{
				height:100%;
				float:left;
				#search{
					font: @searchbarfont;
					color: @darkgrey;
					float:left;
					height:	100%;
					width:310px;
					border:0;
					background: url("/img/searchbar_bg.png");		
				}
			}
			
			#search_reset{
				width:28px;
				height:100%;
				float:left;
				background:url("/img/searchreset_off.png") no-repeat;
				
				&.on{
					background:url("/img/searchreset_on.png") no-repeat;
					cursor:pointer;
				}
			}
		}
		
		#login_container{
			float: right;
			margin: 25px 0 0 0;
			cursor:pointer;
		
			#signin_btn{
				background: @headergreen;
				.transition(background, 0.1s, ease-out);
				width:97px;
				height: 26px;
				
				border: 1px solid @darkgreencontour;
				border-radius: 4px;
				box-shadow:0px 1px 0px #b2c77d;
				
				&:hover{
					background: @headergreenbright;
					.transition(background, 0.1s, ease-in);					
				}
				
				
				#login_pin{
					float:left;
					background:url("/icons/anmelden_off.png") no-repeat;
					height:19px;
					width:19px;
					margin: 4px 0 0 6px;			
				}
				
				#login_text{
					margin: 5px 0 0 31px;
					font-size: 8pt;
					color: @darkgreencontour;
					text-shadow: 1px 1px 0px #b2c77d;
				}
			}
			
			.login_dropdown{
				display:none;
			}
			
			
			#login_user{
			}
			
			#login_signin{
			
			}
		}
	}
}

//CONTENT

#container{	
	top:@headercontentheight;
	left:50%;
	position:relative;
	z-index:10
	float: left;
	width: 1016px;
	margin-left: -508px;
	
	
	#container_head{
		@height:36px;
		width:100%;
		height:@height;
		
		#container_head_peak{
					
		}
		
		#container_head_left, #container_head_right{
			height:@height - 10;
			background-color:@background;
			.box-shadow(0, -1px, 10px, rgba(0, 0, 0, 0.5));
			float:left;
			width:50%;
		}
		
	}
}
