<li class="child_comment">
	<a href="<%= profileUri %>"><img src="<%= userImage %>" alt=""></a>
	<div class="comment_arrow_answer"></div>
	<div class="recipe_comment_answer">
		<textarea class="light" cols="200" rows="1"></textarea>
		<div class="answer_info">mit Enter abschicken</div>
	</div>
</li>