<div id="noresults">
	<h1>Kein passendes Rezept gefunden.</h1>
	<p class="subline">Wir haben leider kein Rezept in unserer Datenbank, das deinen Vorstellung entspricht. Passe deine Suche an, schmier dir ein Brot oder <a href="/#/recipeediting" title="Neues Rezept erstellen">erstelle ein neues Rezept</a>. Vielen Dank für dein Verständnis.</p>
	<p class="subline">
		<a id="resetSearch" class="btn" href='#/'>Suche zurücksetzen</a>
	</p>
	<div id="discover_recommended" class="discover_recipes"></div>
</div>