<div id="facebookpopup" class="fixedpopup"><div class="closepopup"></div><div id="fb_registration">
    <fb:registration fields="name,email" redirect-uri="<%= registrationLink %>" width="500"></fb:registration>
</div>
