<div class="lightbox">
	<div class="dogear">
		<div class="top"></div>
		<div class="middle"></div>
		<div class="bottom"></div>
	</div>
	<div class="mask"></div>
	<div class="contentbox">
		<h2><%= headline %></h2>
		<p><%= subhead %></p>
		<form>
			<div class="lightbox_content"><%= content %></div>
			<input type="submit" value="<%= inputValue %>">
		</form>
	</div>
</div>