<div id="login_menu">
	<!-- <div class="peak"></div> -->
	<div class="blackOverlay"></div>
	<div class="menu">
		<div class="loginContainer">
			<h1>Melde dich an:</h1>
			<form id="loginForm" autocomplete="on" target="auth_iframe">
				<input type="text" id="username" name="username" placeholder="Email" />
				<input type="password" id="password" name="password" placeholder="Passwort" />
				<div class="subcontainer">
					<label class="remember">
						<input id="stayLoggenIn" name="SaveCookie" type="checkbox" value="yes" checked="checked" >
						<span>Angemeldet bleiben!</span>
					</label>
					<input type="submit" value="Anmelden" />
				</div>
				<p class="errorMsg">Nutzername / Passwort sind falsch. <a href="#/resetpassword">Passwort vergessen?</a></p>
			</form>
		</div>
		<div class="registerContainer">
            <p>Du hast noch keinen Account?<a id="registrationBtn" href="/#/registration">Hier Registrieren!</a></p>
            <div id="facebookLogin">
                <span>Oder hast du einen Facebook-Account?</span>
                <div class="facebookLogin">
                    <img src="/img/facebook/icon.png" alt="">
                    <span>Anmelden</span>
                </div>

            </div>
		</div>
	</div>
</div>
