<div class="new_message">
	<div class="messageimageborder">
		<img title="Das bist du!" src="<%= userImagePath %>">
	</div>
	<div class="right">
		<p>Empfänger:</p>
		<div class="recipients"></div>
		<p>Nachricht:</p>
		<textarea class="light"></textarea>
	</div>
</div>