<div class="fb-like share_container" data-href="http://anycook.de/<%= url %>" data-colorscheme="light" data-layout="button_count" data-action="recommend" data-show-faces="false" data-send="false"></div>
<div id="twitter" class="share_container">
	<a href="<%= twitterTarget %>" target="_blank">
		<span></span>
	</a>
</div>
<div id="gplus" class="share_container">
	<g:plusone size="small" count="false" href="http://anycook.de/<%= url %>"></g:plusone>
</div>